default: true
entityName: "{{ report }}"
entityGroup: "{{ techno_zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
execsumTitle: "Rapport National"
categories: [
  {
    kpis: [
      {
        comment: "<%= evol %>% vs l'année N-1"
        name: "CA cumulé réalisé 2017"
        sentiment:
          evol:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        badge: "evol"
        precision:
          CA: ",.0f"
          evol: "+0.0f"
        value: "CA"
        slide: 1001
        type: "value-dynamic"
        data:
          CA:
            query:
              pays: "<%= report.entityName%>"
              domain: "data_kpis_pays"
              kpi:
                $in: [
                  "CA cumulé réalisé 2016"
                ]
            field: "value"
          evol:
            query:
              pays: "<%= report.entityName%>"
              domain: "data_kpis_pays"
              kpi:
                $in: [
                  "CA cumulé réalisé 2016"
                ]
            field: "evol"
        unit: "k€"
      }
      {
        type: "media-video"
        provider: "youtube"
        id: "v6ZNDQ80ELE"
      }
      {
        content: "comments"
        data:
          query:
            report: "<%= report.entityName %>"
            domain: "data_executive_comments"
        type: "text-dynamic"
        name: "Flash Report"
      }
      {
        type: "separator"
      }
      {
        type: "score-card"
        name: "KPIs Production"
        chartOptions:
          sentiment:
            evol:
              domain: [
                0
              ]
              range: [
                "negative"
                "positive"
              ]
          variation: "evol"
          label: "kpi"
          limit: 6
          value: "value"
          units:
            evol: "evol_unit"
            value: "unit"
          data:
            query:
              pays: "<%= report.entityName%>"
              domain: "data_kpis_pays"
              kpi:
                $in: [
                  "Production cumulée Réalisé 2017"
                  "Capacité totale installée 2017"
                ]
            precision:
              value: "precision"
      }
      {
        type: "separator"
      }
      {
        comment: "Taux de projets abandonnés"
        name: "Turnover Projets"
        sentiment:
          my_evol:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        badge: "my_evol"
        precision:
          my_value: ".1%"
          my_evol: ".0f"
        value: "my_value"
        source: "Données à fiabiliser"
        type: "value-dynamic"
        data:
          my_value:
            query:
              pays: "<%= report.entityName %>"
              domain: "data_kpis_pays"
              kpi:
                $in: [
                  "Taux Projets Abandonnés"
                ]
            field: "value"
          my_evol:
            query:
              pays: "<%= report.entityName %>"
              domain: "data_kpis_pays"
              kpi:
                $in: [
                  "Taux Projets Abandonnés"
                ]
            field: "evol"
      }
      {
        slide: 1008
        type: "heatmap"
        name: "Avancement des projets clés"
        chartOptions:
          target: "Délai souhaité"
          sentiment:
            sentiment:
              domain: [
                -0.5
                0.5
                10000
              ]
              range: [
                "warning"
                "neutral"
                "positive"
                "negative"
              ]
          value: "NB de jours passés"
          xOrder: [
            "Prospection"
            "Developpement"
            "Autorisation"
            "Construction"
          ]
          y: "Parks"
          x: "Phase"
          data:
            query: [
              {
                $match:
                  domain: "data_pipeline_projets_2016"
                  Parks: $in: ['Rang', 'Rives', 'Aibre', 'Chaffois', 'Grosbois']
              }
              {
                $sort:
                  "Gross capacity (MW)": -1
              }
              {
                $limit: 20
              }
              {
                $match:
                  "NB de jours passés":
                    $nin: [
                      null
                    ]
              }
            ]
      }
    ]
    name: "Overview National"
  }
  {
    kpis: [
      {
        source: "Facteur de charge cumulé (Mai 2017)"
        type: "leaderboard"
        name: "<span class='text-top-color'>Top 3 EOLIEN performances</span>"
        chartOptions:
          sort: "desc"
          variation: "evol_fc"
          label: "report"
          value: "facteur_de_charge"
          units:
            evol_fc: " pt"
          data:
            query:
              domain: "data_reports"
              techno: "EOLIEN"
              type: "CENTRALE"
            precision:
              evol_fc: "0f"
              facteur_de_charge: ".1%"
      }
      {
        source: "Facteur de charge cumulé (Mai 2017)"
        type: "leaderboard"
        name: "<span class='text-top-color'>Top 3 SOLAIRE performances</span>"
        chartOptions:
          sort: "desc"
          variation: "evol_fc"
          label: "report"
          value: "facteur_de_charge"
          units:
            evol_fc: " pt"
          data:
            query:
              domain: "data_reports"
              techno: "SOLAIRE"
              type: "CENTRALE"
            precision:
              evol_fc: "0f"
              facteur_de_charge: ".1%"
      }
      {
        type: "separator"
      }
      {
        source: "Facteur de charge cumulé (Mai 2017)"
        type: "leaderboard"
        name: "<span class='text-flop-color'>Flop 3 EOLIEN performances</span>"
        chartOptions:
          sort: "asc"
          variation: "evol_fc"
          label: "report"
          value: "facteur_de_charge"
          units:
            evol_fc: " pt"
          data:
            query:
              domain: "data_reports"
              techno: "EOLIEN"
              type: "CENTRALE"
            precision:
              evol_fc: "0f"
              facteur_de_charge: ".1%"
      }
      {
        source: "Facteur de charge cumulé (Mai 2017)"
        type: "leaderboard"
        name: "<span class='text-flop-color'>Flop 3 SOLAIRE performances</span>"
        chartOptions:
          sort: "asc"
          variation: "evol_fc"
          label: "report"
          value: "facteur_de_charge"
          units:
            evol_fc: " pt"
          data:
            query:
              domain: "data_reports"
              techno: "SOLAIRE"
              type: "CENTRALE"
            precision:
              evol_fc: "0f"
              facteur_de_charge: ".1%"
      }
    ]
    name: "Benchmark"
  }
]
