default: true
entityName: "{{ report }}"
entityGroup: "{{ techno_zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
execsumTitle: "Rapport au niveau de la Centrale"
categories: [
  {
    kpis: [
      {
        comment: "Ecart vs R2 : <%= my_comparison %> MWH"
        name: "Production"
        sentiment:
          my_comparison:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        badge: "my_comparison"
        precision:
          my_value: ",.0f"
          my_comparison: ",.0f"
        value: "my_value"
        source: "Valeur cumulée en décembre 2016"
        slide: 1003
        type: "value-dynamic"
        data:
          my_value:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            field: "PROD  cumulé Réalisé 2016 (MWH)"
          my_comparison:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            field: "ECART PROD REEL vs R2 cumulé"
        unit: " MWH"
      }
      {
        comment: "Ecart vs R2 : <%= my_comparison %> k€"
        name: "CA"
        sentiment:
          my_comparison:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        badge: "my_comparison"
        precision:
          my_value: ",.0f"
          my_comparison: ",.0f"
        value: "my_value"
        source: "Valeur cumulée en décembre 2016"
        slide: 1003
        type: "value-dynamic"
        data:
          my_value:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            field: "CA cumulé réalisé 2016 (K€)"
          my_comparison:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            field: "ECART CA REEL vs R2 cumulé"
        unit: " k€"
      }
    ]
    name: "Overview de la Centrale"
  }
  {
    kpis: [
      {
        source: "Disponibilité cumulée (Déc 2016)"
        slide: 1004
        type: "bullet"
        name: "Disponibilité"
        chartOptions:
          comparison: "Année N-1"
          data:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            precision:
              "Année N-1": ".1%"
              "Réalisée": ".1%"
              "Théorique": ".1%"
            postprocess: [
              {
                rename:
                  columns:
                    "Disponibilité Réalisée":
                      fr: "Réalisée"
                      en: "Réalisée"
                    dispo_target:
                      fr: "Théorique"
                      en: "Théorique"
                    dispo_n_1:
                      fr: "Année N-1"
                      en: "Année N-1"
              }
            ]
          target: "Théorique"
          value: "Réalisée"
          sentiment:
            "Réalisée":
              domain: [
                "Année N-1"
              ]
              range: [
                "negative"
                "positive"
              ]
      }
      {
        source: "Facteur de charge cumulé (Déc 2016)"
        slide: 1003
        type: "line"
        name: "Facteur de charge"
        chartOptions:
          date: "mois"
          data:
            date:
              format: "%m"
              selector: "mois"
            query:
              domain: "data_centrales_evolution"
              Centrale: "<%= report.entityName %>"
            precision:
              facteur_de_charge: ".1%"
          value: "facteur_de_charge"
      }
    ]
    name: "Benchmark"
  }
]
