entityName: "{{ zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"


categories: [
  name: "Awareness"
  kpis: [


    name: 'Top 3 Top of Mind'
    type: 'leaderboard'
    chartOptions:
      'units': 'value': ' %'
      'data':
        'query':
          'domain': 'top-network'
          type: "mind"
      'value': 'value'
      'label': 'label'
    source: '2016, internal source'
    slide: 10101
  ,
    name: 'top 3 Spontaneous'
    type: 'leaderboard'
    chartOptions:
      'units': 'value': ' %'
      'data':
        'query':
          'domain': 'top-network'
          type: "spontaneous"
      'value': 'value'
      'label': 'label'

    slide: 10101
    source: '2016, internal source'
  ,
    type: "separator"
  ,
    name: "Aided awareness"
    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs 2015\'%>"
    unit: " %"
    slide: 10103
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative','positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"

            type: "aided"
        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "<%= dashboard.entityName %>"
            type: "exposure"
        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 0
  ,
    name: "Market performance"

    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "market"
    unit: " %"
    slide: 10105

  ]
,
  name: "Profile"
  kpis: [

    name: "Brand Buyers"
    value: "39"
    unit: "%"
    badge: "evolution_up"
    badgeSentiment: "better"
    comment: "+1,5% compared to 2015"
    slide: 20101
    source: ""
    id: 0
  ,
    name: "Convenience seekers"
    value: "37"
    unit: "%"
    badge: "evolution_down"
    badgeSentiment: "worse"
    comment: "-3% compared to 2015"
    slide: 20101
    source: ""
    id: 0

  ]


]
