entityName: "{{ zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"

categories: [
  name: "Summary"
  kpis: [


    name: "Sat. Global evolution "
    slide: 80005
    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "makeup"
    unit: " pts"

  ,
    name: "Gain on competitors"
    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs mois précédent\'%>"
    unit: " %"
    slide: 80005
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['positive','negative']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            type: "concurrence"
        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            type: "concurrence"
        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 0
  ]
,
  name: "Mystery calls & visits"
  kpis: [

    name: 'Top 3 mystery calls'
    type: 'leaderboard'
    chartOptions:
      'units': 'value': ' %'
      'data':
        'query':
          'domain': 'top-network'
          type: "appels"
      'value': 'value'
      'label': 'label'
    source: '2016, internal source'
    slide: 10201

  ,
    name: 'Top 3 mystery visits'
    type: 'leaderboard'
    chartOptions:
      'units': 'value': ' %'
      'data':
        'query':
          'domain': 'top-network'
          type: "visites"
      'value': 'value'
      'label': 'label'

    slide: 10201
    source: '2016, internal source'


  ]
,
  name: "Customers"
  kpis: [

    name: "Conquest and churn rates"
    type:"score-card"
    chartOptions:
        value: "value"
        label: "label"
        variation:'n-1'
        sentiment:
          "n-1":
            domain:[0]
            range:['negative','positive']
        units:
          value: '%'
          'n-1':'%'
        data:
          query:
            domain: 'scorecard'

  ]
]
