report: "{{ report_id }}"
default: true
entityName: "{{ ENTITY_NAME }}"
id: "{{ index }}"
categories: [
  {
    name: "PM € (Hors Vrac)"
    kpis: [
      {
        type: "leaderboard"
        name: "Top Univers"
        chartOptions:
          value: 'valeur'
          label: 'label'
          variation: 'evolution'
          data:
            query:[
              $match:
                domain: $in: ["panel_periode_365","panel_periode_365p-1"]
                # "<%= report.ENTITY_ID_COLUMN %>": "<%= report.UNIVERS == 'ALL' ? '__VOID__' : report.ENTITY_ID %>"
                prod_is_vrac: 'false'
                is_gms: 'false'
            ,
              $group:
                _id:
                  categorie_id: "$<%= report.ENTITY_CHILD_ID_COLUMN %>"
                  domain: "$domain"
                  conso_id_user: "$conso_id_user"
                totaleuro: $sum: "$achat_prix_total_ttc"
                totalvolume: $sum: "$achat_quantite"
                label: $first: "$<%= report.ENTITY_CHILD_LABEL_COLUMN %>"
            ,
              $facet:
                users: [
                  $group:
                    _id:
                      label: "$label"
                      conso_id_user: "$_id.conso_id_user"
                      domain: "$_id.domain"
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                      domain: "$_id.domain"
                    value: $sum: 1
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                    values: $push:
                      valeur: "$value"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    label: 1
                    _id: 0
                    indicateur: $literal: "Conso distinct"
                    valeur: "$value.valeur"
                    valeurp_1: "$valuep_1.valeur"
                ]
                totals: [
                  $group:
                    _id:
                      categorie_id: "$_id.categorie_id"
                      domain: "$_id.domain"
                    totaleuro: $sum: "$totaleuro"
                    totalvolume: $sum: "$totalvolume"
                    label: $first: "$label"
                ,
                  $group:
                    _id:
                      label: "$label"
                    values: $push:
                      totaleuro: "$totaleuro"
                      totalvolume: "$totalvolume"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    _id: 0
                    label: 1
                    value: [
                      indicateur: $literal: "Total €"
                      valeur: $cond: [$eq: ["$value.totaleuro", null], 0, $divide: ["$value.totaleuro", 100]]
                      valeurp_1: $cond: [$eq: ["$valuep_1.totaleuro", null], 0, $divide: ["$valuep_1.totaleuro", 100]]
                    # ,
                    #   indicateur: $literal: "Total Vol."
                    #   valeur: "$value.totalvolume"
                    #   valeurp_1: "$valuep_1.totalvolume"
                    ]
                ,
                  $unwind: "$value"
                ,
                  $project:
                    label: 1
                    indicateur: "$value.indicateur"
                    valeur: "$value.valeur"
                    valeurp_1: "$value.valeurp_1"
                ,
                  $group:
                    _id:
                      indicateur: '$indicateur'
                    record: $push:
                      value: "$valeur"
                      valuep_1: "$valeurp_1"
                      label: "$label"
                    cum_value: $sum: "$valeur"
                    cum_valuep_1: $sum: "$valeurp_1"
                ,
                  $unwind: "$record"
                ,
                  $project:
                    _id: 0
                    cum_value: 1
                    cum_valuep_1: 1
                    indicateur: '$_id.indicateur'
                    valeur: "$record.value"
                    valeurp_1: "$record.valuep_1"
                    label: "$record.label"
                    value_pct: $cond: [
                      $in: ["$cum_value", [0,null]]
                      '-'
                      $divide: ["$record.value", "$cum_value"]
                    ]
                    value_pctp_1: $cond: [
                      $in: ["$cum_valuep_1", [0,null]]
                      '-'
                      $divide: ["$record.valuep_1", "$cum_valuep_1"]
                    ]
                ,
                  $addFields:
                    values: [
                    #   {valeur: "$valeur", type: "NB", indicateur: "$indicateur", valeurp_1: "$valeurp_1"}
                    # ,
                      {valeur: "$value_pct", type: "%", indicateur: "$indicateur", valeurp_1: "$value_pctp_1"}
                    ]
                ,
                  $unwind: "$values"
                ,
                  $project:
                    indicateur: $switch:
                      branches: [
                        case: $eq: ["$values.type", "NB"]
                        then: "$indicateur"
                      ,
                        case: $eq: ["$values.indicateur", "Total Vol."]
                        then: $literal: "PM Vol."
                      ]
                      default: $literal: "PM €"
                    valeur: "$values.valeur"
                    valeurp_1: "$values.valeurp_1"
                    label: 1
                ]
            ,
              $addFields:
                values: $concatArrays: ["$totals"]
            ,
              $addFields:
                "values.users": "$users"
            ,
              $unwind: "$values"
            ,
              $replaceRoot: newRoot: "$values"
            ,
              $addFields:
                users: $arrayElemAt: [$filter:
                  input: "$users"
                  as: "u"
                  cond: $eq: ["$label", "$$u.label"]
                ,
                 0]
            ,
              $addFields:
                evolution: $cond: [
                  $or: [
                    $in: ["$valeur", [0, null, "", "-"]]
                  ,
                    $in: ["$valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeur", [0, null, "", "-"]]
                  ]
                  "-"
                  $divide: [$subtract: [$multiply: ["$valeur", $divide: ["$users.valeur", "$users.valeurp_1"]], "$valeurp_1"], "$valeurp_1"]
                ]
            ,
              $addFields:
                precision:
                  $switch:
                    branches: [
                      case: $in: ["$indicateur", ["PM Vol.", "PM €"]]
                      then: $literal: ".1%"
                    ]
                    default: $literal: ",.0f"
            ,
              $sort: valeur: -1
            ,
              $limit: 3
            ]
            precision:
              valeur: 'precision'
              evolution: '.0%'
        slide: 10001
      }
      {
        type: "leaderboard"
        name: "Top Marques"
        chartOptions:
          value: 'valeur'
          label: 'label'
          variation: 'evolution'
          data:
            query:[
              $match:
                domain: $in: ["panel_periode_365","panel_periode_365p-1"]
                # "<%= report.ENTITY_ID_COLUMN %>": "<%= report.UNIVERS == 'ALL' ? '__VOID__' : report.ENTITY_ID %>"
                prod_is_vrac: 'false'
                is_gms: 'false'
            ,
              $group:
                _id:
                  categorie_id: "$id_marque"
                  domain: "$domain"
                  conso_id_user: "$conso_id_user"
                totaleuro: $sum: "$achat_prix_total_ttc"
                totalvolume: $sum: "$achat_quantite"
                label: $first: "$marque_label"
            ,
              $facet:
                users: [
                  $group:
                    _id:
                      label: "$label"
                      conso_id_user: "$_id.conso_id_user"
                      domain: "$_id.domain"
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                      domain: "$_id.domain"
                    value: $sum: 1
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                    values: $push:
                      valeur: "$value"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    label: 1
                    _id: 0
                    indicateur: $literal: "Conso distinct"
                    valeur: "$value.valeur"
                    valeurp_1: "$valuep_1.valeur"
                ]
                totals: [
                  $group:
                    _id:
                      categorie_id: "$_id.categorie_id"
                      domain: "$_id.domain"
                    totaleuro: $sum: "$totaleuro"
                    totalvolume: $sum: "$totalvolume"
                    label: $first: "$label"
                ,
                  $group:
                    _id:
                      label: "$label"
                    values: $push:
                      totaleuro: "$totaleuro"
                      totalvolume: "$totalvolume"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    _id: 0
                    label: 1
                    value: [
                      indicateur: $literal: "Total €"
                      valeur: $cond: [$eq: ["$value.totaleuro", null], 0, $divide: ["$value.totaleuro", 100]]
                      valeurp_1: $cond: [$eq: ["$valuep_1.totaleuro", null], 0, $divide: ["$valuep_1.totaleuro", 100]]
                    # ,
                    #   indicateur: $literal: "Total Vol."
                    #   valeur: "$value.totalvolume"
                    #   valeurp_1: "$valuep_1.totalvolume"
                    ]
                ,
                  $unwind: "$value"
                ,
                  $project:
                    label: 1
                    indicateur: "$value.indicateur"
                    valeur: "$value.valeur"
                    valeurp_1: "$value.valeurp_1"
                ,
                  $group:
                    _id:
                      indicateur: '$indicateur'
                    record: $push:
                      value: "$valeur"
                      valuep_1: "$valeurp_1"
                      label: "$label"
                    cum_value: $sum: "$valeur"
                    cum_valuep_1: $sum: "$valeurp_1"
                ,
                  $unwind: "$record"
                ,
                  $project:
                    _id: 0
                    cum_value: 1
                    cum_valuep_1: 1
                    indicateur: '$_id.indicateur'
                    valeur: "$record.value"
                    valeurp_1: "$record.valuep_1"
                    label: "$record.label"
                    value_pct: $cond: [
                      $in: ["$cum_value", [0,null]]
                      '-'
                      $divide: ["$record.value", "$cum_value"]
                    ]
                    value_pctp_1: $cond: [
                      $in: ["$cum_valuep_1", [0,null]]
                      '-'
                      $divide: ["$record.valuep_1", "$cum_valuep_1"]
                    ]
                ,
                  $addFields:
                    values: [
                    #   {valeur: "$valeur", type: "NB", indicateur: "$indicateur", valeurp_1: "$valeurp_1"}
                    # ,
                      {valeur: "$value_pct", type: "%", indicateur: "$indicateur", valeurp_1: "$value_pctp_1"}
                    ]
                ,
                  $unwind: "$values"
                ,
                  $project:
                    indicateur: $switch:
                      branches: [
                        case: $eq: ["$values.type", "NB"]
                        then: "$indicateur"
                      ,
                        case: $eq: ["$values.indicateur", "Total Vol."]
                        then: $literal: "PM Vol."
                      ]
                      default: $literal: "PM €"
                    valeur: "$values.valeur"
                    valeurp_1: "$values.valeurp_1"
                    label: 1
                ]
            ,
              $addFields:
                values: $concatArrays: ["$totals"]
            ,
              $addFields:
                "values.users": "$users"
            ,
              $unwind: "$values"
            ,
              $replaceRoot: newRoot: "$values"
            ,
              $addFields:
                users: $arrayElemAt: [$filter:
                  input: "$users"
                  as: "u"
                  cond: $eq: ["$label", "$$u.label"]
                ,
                 0]
            ,
              $addFields:
                evolution: $cond: [
                  $or: [
                    $in: ["$valeur", [0, null, "", "-"]]
                  ,
                    $in: ["$valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeur", [0, null, "", "-"]]
                  ]
                  "-"
                  $divide: [$subtract: [$multiply: ["$valeur", $divide: ["$users.valeur", "$users.valeurp_1"]], "$valeurp_1"], "$valeurp_1"]
                ]
            ,
              $addFields:
                precision:
                  $switch:
                    branches: [
                      case: $in: ["$indicateur", ["PM Vol.", "PM €"]]
                      then: $literal: ".1%"
                    ]
                    default: $literal: ",.0f"
            ,
              $sort: valeur: -1
            ,
              $limit: 3
            ]
            precision:
              valeur: 'precision'
              evolution: '.0%'
        slide: 30002
      }
      {
        type: "leaderboard"
        name: "Top Réseaux"
        chartOptions:
          value: 'valeur'
          label: 'label'
          variation: 'evolution'
          data:
            query:[
              $match:
                domain: $in: ["panel_periode_365","panel_periode_365p-1"]
                # "<%= report.ENTITY_ID_COLUMN %>": "<%= report.ENTITY_ID %>"
                prod_is_vrac: 'false'
                is_gms: 'false'
            ,
              $group:
                _id:
                  categorie_id: "$id_reseau"
                  domain: "$domain"
                  conso_id_user: "$conso_id_user"
                totaleuro: $sum: "$achat_prix_total_ttc"
                totalvolume: $sum: "$achat_quantite"
                label: $first: "$reseau_label"
            ,
              $facet:
                users: [
                  $group:
                    _id:
                      label: "$label"
                      conso_id_user: "$_id.conso_id_user"
                      domain: "$_id.domain"
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                      domain: "$_id.domain"
                    value: $sum: 1
                ,
                  $group:
                    _id:
                      label: "$_id.label"
                    values: $push:
                      valeur: "$value"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    label: 1
                    _id: 0
                    indicateur: $literal: "Conso distinct"
                    valeur: "$value.valeur"
                    valeurp_1: "$valuep_1.valeur"
                ]
                totals: [
                  $group:
                    _id:
                      categorie_id: "$_id.categorie_id"
                      domain: "$_id.domain"
                    totaleuro: $sum: "$totaleuro"
                    totalvolume: $sum: "$totalvolume"
                    label: $first: "$label"
                ,
                  $group:
                    _id:
                      label: "$label"
                    values: $push:
                      totaleuro: "$totaleuro"
                      totalvolume: "$totalvolume"
                      domain: "$_id.domain"
                ,
                  $addFields:
                    label: "$_id.label"
                    value:  $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365"]
                    ,
                      0
                    ]
                    valuep_1: $arrayElemAt: [$filter:
                      input: "$values"
                      as: "v"
                      cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                    ,
                      0
                    ]
                ,
                  $project:
                    _id: 0
                    label: 1
                    value: [
                      indicateur: $literal: "Total €"
                      valeur: $cond: [$eq: ["$value.totaleuro", null], 0, $divide: ["$value.totaleuro", 100]]
                      valeurp_1: $cond: [$eq: ["$valuep_1.totaleuro", null], 0, $divide: ["$valuep_1.totaleuro", 100]]
                    # ,
                    #   indicateur: $literal: "Total Vol."
                    #   valeur: "$value.totalvolume"
                    #   valeurp_1: "$valuep_1.totalvolume"
                    ]
                ,
                  $unwind: "$value"
                ,
                  $project:
                    label: 1
                    indicateur: "$value.indicateur"
                    valeur: "$value.valeur"
                    valeurp_1: "$value.valeurp_1"
                ,
                  $group:
                    _id:
                      indicateur: '$indicateur'
                    record: $push:
                      value: "$valeur"
                      valuep_1: "$valeurp_1"
                      label: "$label"
                    cum_value: $sum: "$valeur"
                    cum_valuep_1: $sum: "$valeurp_1"
                ,
                  $unwind: "$record"
                ,
                  $project:
                    _id: 0
                    cum_value: 1
                    cum_valuep_1: 1
                    indicateur: '$_id.indicateur'
                    valeur: "$record.value"
                    valeurp_1: "$record.valuep_1"
                    label: "$record.label"
                    value_pct: $cond: [
                      $in: ["$cum_value", [0,null]]
                      '-'
                      $divide: ["$record.value", "$cum_value"]
                    ]
                    value_pctp_1: $cond: [
                      $in: ["$cum_valuep_1", [0,null]]
                      '-'
                      $divide: ["$record.valuep_1", "$cum_valuep_1"]
                    ]
                ,
                  $addFields:
                    values: [
                    #   {valeur: "$valeur", type: "NB", indicateur: "$indicateur", valeurp_1: "$valeurp_1"}
                    # ,
                      {valeur: "$value_pct", type: "%", indicateur: "$indicateur", valeurp_1: "$value_pctp_1"}
                    ]
                ,
                  $unwind: "$values"
                ,
                  $project:
                    indicateur: $switch:
                      branches: [
                        case: $eq: ["$values.type", "NB"]
                        then: "$indicateur"
                      ,
                        case: $eq: ["$values.indicateur", "Total Vol."]
                        then: $literal: "PM Vol."
                      ]
                      default: $literal: "PM €"
                    valeur: "$values.valeur"
                    valeurp_1: "$values.valeurp_1"
                    label: 1
                ]
            ,
              $addFields:
                values: $concatArrays: ["$totals"]
            ,
              $addFields:
                "values.users": "$users"
            ,
              $unwind: "$values"
            ,
              $replaceRoot: newRoot: "$values"
            ,
              $addFields:
                users: $arrayElemAt: [$filter:
                  input: "$users"
                  as: "u"
                  cond: $eq: ["$label", "$$u.label"]
                ,
                 0]
            ,
              $addFields:
                evolution: $cond: [
                  $or: [
                    $in: ["$valeur", [0, null, "", "-"]]
                  ,
                    $in: ["$valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeurp_1", [0, null, "", "-"]]
                  ,
                    $in: ["$users.valeur", [0, null, "", "-"]]
                  ]
                  "-"
                  $divide: [$subtract: [$multiply: ["$valeur", $divide: ["$users.valeur", "$users.valeurp_1"]], "$valeurp_1"], "$valeurp_1"]
                ]
            ,
              $addFields:
                precision:
                  $switch:
                    branches: [
                      case: $in: ["$indicateur", ["PM Vol.", "PM €"]]
                      then: $literal: ".1%"
                    ]
                    default: $literal: ",.0f"
            ,
              $sort: valeur: -1
            ,
              $limit: 3
            ]
            precision:
              valeur: 'precision'
              evolution: '.0%'
        slide: 20001
      }
    ]
  }
]
