report: "{{ report_id }}"
default: true
entityName: "{{ ENTITY_NAME }}"
id: "{{ index }}"
categories: [
  {
    name: "Tops"
    kpis: [
      {
        type: "text"
        name: "Top univers"
        value: ""
        slide: 10001
      }
      {
        type: "text"
        name: "Top marques"
        value: ""
        slide: 30002
      }
      {
        type: "text"
        name: "Top réseaux"
        value: ""
        slide: 20001
      }
    ]
  }
]
