entityName: "{{ report }}"#column of the report data containing the reports names
id: "{{ index }}"
date: 'March 8th 2017'

execsumNote: "* Crafted with <strong><3</strong> by the Toucan Team"#footnote
