sharingOptions: true

home:
  skipToReport: 0

settings:
  requesters: [
    description: 'Produits vrac / hors vrac'
    type: "buttons"
    id: 'withVrac'
    values: [
      label: "Hors Vrac"
      value: false
    ,
      label: 'En Vrac Inclus'
      value: "__VOID__"
    ]
    completeObjectMode: true
    defaultSelected: 'Hors Vrac'
    fields:['label', 'value']
  ]
glossary: []

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: 'Catégories'
    id: 10
  }
  {
    level: 1
    title: 'Réseaux'
    id: 20
  }
  {
    level: 1
    title: 'Marques'
    id: 30
  }
  {
    level: 1
    title: 'Produits'
    id: 40
  }
  {
    level: 1
    title: 'Attributs'
    id: 50
  }
  # {
  #   level: 3
  #   parent_id: 20
  #   id: 20001
  #   title: 'Top reseaux'
  #   recommendation:
  #     advert: 'Vue détaillée'
  #     content: "<a href='https://www.panel.bio'>Panel Bio</a>"
  #   chartOptions:
  #     # Chart groupé par univers
  #     # chartType: 'horizontal-barchart'
  #     # units:
  #     #   value: " €"
  #     # data:
  #     #   query:[
  #     #     $match:
  #     #       domain: "panel_periode_365"
  #     #   ,
  #     #     $group:
  #     #       _id:
  #     #         univers: "$univers_label"
  #     #       value: $sum: "$achat_prix_total_ttc"
  #     #   ,
  #     #     $project:
  #     #       univers: "$_id.univers"
  #     #       value_euros: $divide: ["$value", 100]
  #     #   ]
  #     # value: "value_euros"
  #     # label: "univers"
  #
  #     chartType: 'horizontal-barchart'
  #     units:
  #       value: " €"
  #     data:
  #       query:[
  #         $match:
  #           domain: "panel_periode_365"
  #           "<%= report.ENTITY_COLUMN_ID %>": "<%= report.ENTITY_ID %>"
  #       ,
  #         $group:
  #           _id:
  #             reseau: "$reseau_label"
  #           value: $sum: "$achat_prix_total_ttc"
  #       ,
  #         $project:
  #           reseau: "$_id.reseau"
  #           value_euros: $divide: ["$value", 100]
  #       ]
  #     value: "value_euros"
  #     label: "reseau"
  #     sort: "desc"
  # }
  {
    # Classement des catégories
    level: 3
    parent_id: 10
    id: 10001
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    chartOptions:
      chartType: 'horizontal-barchart'
      units:
        value: " €"
      data:
        query:[
          $match:
            domain: $in: ["panel_periode_365","panel_periode_365p-1"]
            "<%= report.ENTITY_ID_COLUMN %>": "<%= report.UNIVERS == 'ALL' ? '__VOID__' : report.ENTITY_ID %>"
            prod_is_vrac: "<%= requestersManager.withVrac.value %>"
            is_gms: 'false'
        ,
          $group:
            _id:
              categorie_id: "$<%= report.ENTITY_CHILD_ID_COLUMN %>"
              domain: "$domain"
              conso_id_user: "$conso_id_user"
              id_magasin: "$id_magasin"
            totaleuro: $sum: "$achat_prix_total_ttc"
            totalvolume: $sum: "$achat_quantite"
            label: $first: "$<%= report.ENTITY_CHILD_LABEL_COLUMN %>"
        ,
          $facet:
            magasins: [
              $group:
                _id:
                  label: "$label"
                  id_magasin: "$_id.id_magasin"
                  domain: "$_id.domain"
            ,
              $group:
                _id:
                  label: "$_id.label"
                  domain: "$_id.domain"
                value: $sum: 1
            ,
              $group:
                _id:
                  label: "$_id.label"
                values: $push:
                  valeur: "$value"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                label: 1
                _id: 0
                indicateur: $literal: "Magasin distinct"
                valeur: "$value.valeur"
                valeurp_1: "$valuep_1.valeur"
            ]
            users: [
              $group:
                _id:
                  label: "$label"
                  conso_id_user: "$_id.conso_id_user"
                  domain: "$_id.domain"
            ,
              $group:
                _id:
                  label: "$_id.label"
                  domain: "$_id.domain"
                value: $sum: 1
            ,
              $group:
                _id:
                  label: "$_id.label"
                values: $push:
                  valeur: "$value"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                label: 1
                _id: 0
                indicateur: $literal: "Conso distinct"
                valeur: "$value.valeur"
                valeurp_1: "$valuep_1.valeur"
            ]
            totals: [
              $group:
                _id:
                  categorie_id: "$_id.categorie_id"
                  domain: "$_id.domain"
                totaleuro: $sum: "$totaleuro"
                totalvolume: $sum: "$totalvolume"
                label: $first: "$label"
            ,
              $group:
                _id:
                  label: "$label"
                values: $push:
                  totaleuro: "$totaleuro"
                  totalvolume: "$totalvolume"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                _id: 0
                label: 1
                value: [
                  indicateur: $literal: "Total €"
                  valeur: $cond: [$eq: ["$value.totaleuro", null], 0, $divide: ["$value.totaleuro", 100]]
                  valeurp_1: $cond: [$eq: ["$valuep_1.totaleuro", null], 0, $divide: ["$valuep_1.totaleuro", 100]]
                ,
                  indicateur: $literal: "Total Vol."
                  valeur: "$value.totalvolume"
                  valeurp_1: "$valuep_1.totalvolume"
                ]
            ,
              $unwind: "$value"
            ,
              $project:
                label: 1
                indicateur: "$value.indicateur"
                valeur: "$value.valeur"
                valeurp_1: "$value.valeurp_1"
            ,
              $group:
                _id:
                  indicateur: '$indicateur'
                record: $push:
                  value: "$valeur"
                  valuep_1: "$valeurp_1"
                  label: "$label"
                cum_value: $sum: "$valeur"
                cum_valuep_1: $sum: "$valeurp_1"
            ,
              $unwind: "$record"
            ,
              $project:
                _id: 0
                cum_value: 1
                cum_valuep_1: 1
                indicateur: '$_id.indicateur'
                valeur: "$record.value"
                valeurp_1: "$record.valuep_1"
                label: "$record.label"
                value_pct: $cond: [
                  $in: ["$cum_value", [0,null]]
                  '-'
                  $divide: ["$record.value", "$cum_value"]
                ]
                value_pctp_1: $cond: [
                  $in: ["$cum_valuep_1", [0,null]]
                  '-'
                  $divide: ["$record.valuep_1", "$cum_valuep_1"]
                ]
            ,
              $addFields:
                values: [{valeur: "$valeur", type: "NB", indicateur: "$indicateur", valeurp_1: "$valeurp_1"},{valeur: "$value_pct", type: "%", indicateur: "$indicateur", valeurp_1: "$value_pctp_1"}]
            ,
              $unwind: "$values"
            ,
              $project:
                indicateur: $switch:
                  branches: [
                    case: $eq: ["$values.type", "NB"]
                    then: "$indicateur"
                  ,
                    case: $eq: ["$values.indicateur", "Total Vol."]
                    then: $literal: "PM Vol."
                  ]
                  default: $literal: "PM €"
                valeur: "$values.valeur"
                valeurp_1: "$values.valeurp_1"
                label: 1
            ]
        ,
          $addFields:
            values: $concatArrays: ["$totals", "$users", "$magasins"]
        ,
          $addFields:
            "values.users": "$users"
        ,
          $unwind: "$values"
        ,
          $replaceRoot: newRoot: "$values"
        ,
          $addFields:
            users: $arrayElemAt: [$filter:
              input: "$users"
              as: "u"
              cond: $eq: ["$label", "$$u.label"]
            ,
             0]
        ,
          $addFields:
            evolution: $cond: [
              $or: [
                $in: ["$valeurp_1", [0, null, ""]]
              ,
                $in: ["$users.valeurp_1", [0, null, ""]]
              ,
                $in: ["$users.valeur", [0, null, ""]]
              ]
              "-"
              $divide: [$subtract: [$multiply: ["$valeur", $divide: ["$users.valeur", "$users.valeurp_1"]], "$valeurp_1"], "$valeurp_1"]
            ]
        ,
          $addFields:
            precision:
              $switch:
                branches: [
                  case: $in: ["$indicateur", ["PM Vol.", "PM €"]]
                  then: $literal: ".1%"
                ]
                default: $literal: ",.0f"

        ]
        precision:
          evolution: '.0%'
          valeur: "precision"
      variation: "evolution"
      value: "valeur"
      label: "label"
      sort: "desc"
    filters:
      "bottom-right":
        on: "indicateur"
        type: "buttons"
  }
  {
    level: 3
    parent_id: 10
    id: 10002
    title: 'Tendances'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Choix d'une catégorie du niveau sélectionné et visualisation de la tendance par kpi"
  }
  {
    # Classement des reseaux
    level: 3
    parent_id: 20
    id: 20001
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    chartOptions:
      chartType: 'horizontal-barchart'
      units:
        value: " €"
      data:
        query: [
          $match:
            domain: $in: ["panel_periode_365","panel_periode_365p-1"]
            "<%= report.ENTITY_ID_COLUMN %>": "<%= report.UNIVERS == 'ALL' ? '__VOID__' : report.ENTITY_ID %>"
            prod_is_vrac: "<%= requestersManager.withVrac.value %>"
            is_gms: 'false'
        ,
          $group:
            _id:
              id_reseau: "$id_reseau"
              domain: "$domain"
              conso_id_user: "$conso_id_user"
              id_magasin: "$id_magasin"
            totaleuro: $sum: "$achat_prix_total_ttc"
            totalvolume: $sum: "$achat_quantite"
            label: $first: "$reseau_label"
        ,
          $facet:
            magasins: [
              $group:
                _id:
                  label: "$label"
                  id_magasin: "$_id.id_magasin"
                  domain: "$_id.domain"
            ,
              $group:
                _id:
                  label: "$_id.label"
                  domain: "$_id.domain"
                value: $sum: 1
            ,
              $group:
                _id:
                  label: "$_id.label"
                values: $push:
                  valeur: "$value"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                label: 1
                _id: 0
                indicateur: $literal: "Magasin distinct"
                valeur: "$value.valeur"
                valeurp_1: "$valuep_1.valeur"
            ]
            users: [
              $group:
                _id:
                  label: "$label"
                  conso_id_user: "$_id.conso_id_user"
                  domain: "$_id.domain"
            ,
              $group:
                _id:
                  label: "$_id.label"
                  domain: "$_id.domain"
                value: $sum: 1
            ,
              $group:
                _id:
                  label: "$_id.label"
                values: $push:
                  valeur: "$value"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                label: 1
                _id: 0
                indicateur: $literal: "Conso distinct"
                valeur: "$value.valeur"
                valeurp_1: "$valuep_1.valeur"
            ]
            totals: [
              $group:
                _id:
                  id_reseau: "$_id.id_reseau"
                  domain: "$_id.domain"
                totaleuro: $sum: "$totaleuro"
                totalvolume: $sum: "$totalvolume"
                label: $first: "$label"
            ,
              $group:
                _id:
                  label: "$label"
                values: $push:
                  totaleuro: "$totaleuro"
                  totalvolume: "$totalvolume"
                  domain: "$_id.domain"
            ,
              $addFields:
                label: "$_id.label"
                value:  $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365"]
                ,
                  0
                ]
                valuep_1: $arrayElemAt: [$filter:
                  input: "$values"
                  as: "v"
                  cond: $eq: ["$$v.domain", "panel_periode_365p-1"]
                ,
                  0
                ]
            ,
              $project:
                _id: 0
                label: 1
                value: [
                  indicateur: $literal: "Total €"
                  valeur: $cond: [$eq: ["$value.totaleuro", null], 0, $divide: ["$value.totaleuro", 100]]
                  valeurp_1: $cond: [$eq: ["$valuep_1.totaleuro", null], 0, $divide: ["$valuep_1.totaleuro", 100]]
                ,
                  indicateur: $literal: "Total Vol."
                  valeur: "$value.totalvolume"
                  valeurp_1: "$valuep_1.totalvolume"
                ]
            ,
              $unwind: "$value"
            ,
              $project:
                label: 1
                indicateur: "$value.indicateur"
                valeur: "$value.valeur"
                valeurp_1: "$value.valeurp_1"
            ,
              $group:
                _id:
                  indicateur: '$indicateur'
                record: $push:
                  value: "$valeur"
                  valuep_1: "$valeurp_1"
                  label: "$label"
                cum_value: $sum: "$valeur"
                cum_valuep_1: $sum: "$valeurp_1"
            ,
              $unwind: "$record"
            ,
              $project:
                _id: 0
                cum_value: 1
                cum_valuep_1: 1
                indicateur: '$_id.indicateur'
                valeur: "$record.value"
                valeurp_1: "$record.valuep_1"
                label: "$record.label"
                value_pct: $cond: [
                  $in: ["$cum_value", [0,null]]
                  '-'
                  $divide: ["$record.value", "$cum_value"]
                ]
                value_pctp_1: $cond: [
                  $in: ["$cum_valuep_1", [0,null]]
                  '-'
                  $divide: ["$record.valuep_1", "$cum_valuep_1"]
                ]
            ,
              $addFields:
                values: [{valeur: "$valeur", type: "NB", indicateur: "$indicateur", valeurp_1: "$valeurp_1"},{valeur: "$value_pct", type: "%", indicateur: "$indicateur", valeurp_1: "$value_pctp_1"}]
            ,
              $unwind: "$values"
            ,
              $project:
                indicateur: $switch:
                  branches: [
                    case: $eq: ["$values.type", "NB"]
                    then: "$indicateur"
                  ,
                    case: $eq: ["$values.indicateur", "Total Vol."]
                    then: $literal: "PM Vol."
                  ]
                  default: $literal: "PM €"
                valeur: "$values.valeur"
                valeurp_1: "$values.valeurp_1"
                label: 1
            ]
        ,
          $addFields:
            values: $concatArrays: ["$totals", "$users", "$magasins"]
        ,
          $addFields:
            "values.users": "$users"
        ,
          $unwind: "$values"
        ,
          $replaceRoot: newRoot: "$values"
        ,
          $addFields:
            users: $arrayElemAt: [$filter:
              input: "$users"
              as: "u"
              cond: $eq: ["$label", "$$u.label"]
            ,
             0]
        ,
          $addFields:
            evolution: $cond: [
              $or: [
                $in: ["$valeurp_1", [0, null, ""]]
              ,
                $in: ["$users.valeurp_1", [0, null, ""]]
              ,
                $in: ["$users.valeur", [0, null, ""]]
              ]
              "-"
              $divide: [$subtract: [$multiply: ["$valeur", $divide: ["$users.valeur", "$users.valeurp_1"]], "$valeurp_1"], "$valeurp_1"]
            ]
        ,
          $addFields:
            precision:
              $switch:
                branches: [
                  case: $in: ["$indicateur", ["PM Vol.", "PM €"]]
                  then: $literal: ".1%"
                ]
                default: $literal: ",.0f"
        ]
        precision:
          evolution: '.0%'
          valeur: "precision"
      variation: "evolution"
      value: "valeur"
      label: "label"
      sort: "desc"
    filters:
      "bottom-right":
        on: "indicateur"
        type: "buttons"
  }
  {
    level: 3
    parent_id: 20
    id: 20002
    title: 'Détail par marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Détails d'un réseau pour le rayon sélectionné par marque<br><br>chaque barre est une marque / reprise des indicateurs principaux / affichage des indicateurs secondaires"
  }
  {
    level: 3
    parent_id: 20
    id: 20003
    title: 'Détail par catégorie'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Détails d'un réseau pour le rayon sélectionné par catégorie<br><br>chaque barre est une catégorie (au niveau sélectionné en haut à droite) / reprise des indicateurs principaux / affichage des indicateurs secondaires"
  }
  {
    level: 3
    parent_id: 30
    id: 30001
    title: 'Fiche marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Chart en haut : choix de la catégorie sélectionnée (age, sexe, etc) / choix de marque en haut (filtre pour le rayon sélectionné)<br><br>Chart en bas : Chiffres clés affichés pour la marque sélectionnée"
  }
  {
    level: 3
    parent_id: 30
    id: 30002
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Classement de toutes les marques pour le rayon (ou niveau) sélectionné"
  }
  {
    level: 3
    parent_id: 30
    id: 30003
    title: 'Comparaison'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Comparaison de deux marques pour le rayon (ou niveau) sélectionné"
  }
  {
    level: 3
    parent_id: 30
    id: 30004
    title: 'Produits par marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Produits de la marque sélectionnée pour le rayon (ou niveau) sélectionné<br><br>sélection d'une marque en particulier / indicateurs principaux / liste de produits pour la marque + rayon"
  }
  {
    level: 3
    parent_id: 30
    id: 30005
    title: 'Ma marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Vide pour le moment"
  }
]
