home:
  skipToReport: 0

settings: []
glossary: []

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: 'Catégories'
    id: 10
  }
  {
    level: 1
    title: 'Réseaux'
    id: 20
  }
  {
    level: 1
    title: 'Marques'
    id: 30
  }
  {
    level: 1
    title: 'Produits'
    id: 40
  }
  {
    level: 1
    title: 'Attributs'
    id: 50
  }
  # {
  #   level: 3
  #   parent_id: 20
  #   id: 20001
  #   title: 'Top reseaux'
  #   recommendation:
  #     advert: 'Vue détaillée'
  #     content: "<a href='https://www.panel.bio'>Panel Bio</a>"
  #   chartOptions:
  #     # Chart groupé par univers
  #     # chartType: 'horizontal-barchart'
  #     # units:
  #     #   value: " €"
  #     # data:
  #     #   query:[
  #     #     $match:
  #     #       domain: "panel_periode_365"
  #     #   ,
  #     #     $group:
  #     #       _id:
  #     #         univers: "$univers_label"
  #     #       value: $sum: "$achat_prix_total_ttc"
  #     #   ,
  #     #     $project:
  #     #       univers: "$_id.univers"
  #     #       value_euros: $divide: ["$value", 100]
  #     #   ]
  #     # value: "value_euros"
  #     # label: "univers"
  #
  #     chartType: 'horizontal-barchart'
  #     units:
  #       value: " €"
  #     data:
  #       query:[
  #         $match:
  #           domain: "panel_periode_365"
  #           "<%= report.ENTITY_COLUMN_ID %>": "<%= report.ENTITY_ID %>"
  #       ,
  #         $group:
  #           _id:
  #             reseau: "$reseau_label"
  #           value: $sum: "$achat_prix_total_ttc"
  #       ,
  #         $project:
  #           reseau: "$_id.reseau"
  #           value_euros: $divide: ["$value", 100]
  #       ]
  #     value: "value_euros"
  #     label: "reseau"
  #     sort: "desc"
  # }
  {
    level: 3
    parent_id: 10
    id: 10001
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Classement des catégories du niveau en dessous de celui où je me situe<br><br>filtres pour les indicateurs / autres indicateurs en meta / Choix du tri par type d'indicateur"
  }
  {
    level: 3
    parent_id: 10
    id: 10002
    title: 'Tendances'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Choix d'une catégorie du niveau sélectionné et visualisation de la tendance par kpi"
  }
  {
    level: 3
    parent_id: 20
    id: 20001
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Classement du rayon (ou autres niveaux) dans les différents réseaux<br><br>choix de tous les indicateurs / affichage des indicateurs secondaires"
  }
  {
    level: 3
    parent_id: 20
    id: 20002
    title: 'Détail par marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Détails d'un réseau pour le rayon sélectionné par marque<br><br>chaque barre est une marque / reprise des indicateurs principaux / affichage des indicateurs secondaires"
  }
  {
    level: 3
    parent_id: 20
    id: 20003
    title: 'Détail par catégorie'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Détails d'un réseau pour le rayon sélectionné par catégorie<br><br>chaque barre est une catégorie (au niveau sélectionné en haut à droite) / reprise des indicateurs principaux / affichage des indicateurs secondaires"
  }
  {
    level: 3
    parent_id: 30
    id: 30001
    title: 'Fiche marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Chart en haut : choix de la catégorie sélectionnée (age, sexe, etc) / choix de marque en haut (filtre pour le rayon sélectionné)<br><br>Chart en bas : Chiffres clés affichés pour la marque sélectionnée"
  }
  {
    level: 3
    parent_id: 30
    id: 30002
    title: 'Classement'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Classement de toutes les marques pour le rayon (ou niveau) sélectionné"
  }
  {
    level: 3
    parent_id: 30
    id: 30003
    title: 'Comparaison'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Comparaison de deux marques pour le rayon (ou niveau) sélectionné"
  }
  {
    level: 3
    parent_id: 30
    id: 30004
    title: 'Produits par marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Produits de la marque sélectionnée pour le rayon (ou niveau) sélectionné<br><br>sélection d'une marque en particulier / indicateurs principaux / liste de produits pour la marque + rayon"
  }
  {
    level: 3
    parent_id: 30
    id: 30005
    title: 'Ma marque'
    recommendation:
      advert: 'Vue détaillée'
      content: "<a href='https://www.panel.bio'>Panel Bio</a>"
    commentary: "Vide pour le moment"
  }
]
