MAX_SELECTABLE_DASHBOARDS: 500
MONGO_INDEXES: [
  "domain"
  [
    "domain"
    "subdomain"
  ]
]
DASHBOARDS: [
  {
    report: "report"
    query:
      domain: "data_reports"
      type: "CENTRALE"
    template: "dashboard_centrale"
  }
  {
    report: "report"
    query:
      domain: "data_reports"
      type: "PAYS"
    template: "dashboard_pays"
  }
]
REPORTS: [
  {
    query:
      domain: "data_reports"
      type:
        $in: [
          "PAYS"
          "CENTRALE"
        ]
    template: "report_country"
  }
]
DATA_SOURCES: [
  {
    sheetname: null
    domain: "data"
    type: "excel"
    file: "edf-en_pilotage-bu.xlsx"
  }
  {
    sheetname: null
    domain: "executive"
    type: "excel"
    file: "executive_comments.xlsx"
  }
]
