settings: true
glossary:
  terms: [
    {
      term: "Capacité installée"
      meaning: "Puissance de production théorique (puissance nominale)"
    }
    {
      term: "Facteur de charge"
      meaning: "Rapport entre la production réaliséeet l'énergie qui aurait été produite en puissance nominale"
    }
    {
      term: "Disponibilité théorique"
      meaning: "Prevision du taux de disponibilité sur une période donnée"
    }
    {
      term: "Disponibilité réalisée"
      meaning: "Sur une période donnée : la fraction du temps passé en production"
    }
  ]
  title: "Glossaire"
embedCharts: true
comments: true
slides: [
  {
    id: 0
    level: 0
  }
  {
    level: 1
    id: 10
    title: "Production"
  }
  {
    level: 1
    id: 30
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    title: "Consommation"
  }
  {
    level: 1
    id: 20
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    title: "Développement"
  }
  {
    level: 1
    id: 403
    title: "Satisfaction Client"
  }
  {
    level: 3
    title: "Budget <br>vs<br>Réalisé"
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    parent_id: 10
    filters:
      "bottom-right":
        on: "techno"
        type: "buttons"
    id: 10010
    chartOptions:
      type: "drill-level"
      value: "value"
      label: "label"
      chartCtrl: {}
      groups: "drill-group"
      units:
        value: " M€"
      chartType: "waterfallchart"
      data:
        query:
          domain: "data_waterfall-budget"
        precision:
          value: ".1f"
  }
  {
    highlightedKpis: [
      {
        comment: "Moyenne de la disponibilité réalisée sur l'année"
        name: "Disponibilité cumulée"
        sentiment:
          dispo:
            domain: [
              0.95
            ]
            range: [
              "negative"
              "positive"
            ]
        precision:
          dispo: ".1%"
        value: "dispo"
        data:
          dispo:
            query:
              report: "<%= report.entityName %>"
              domain: "data_reports"
            precision:
              "Disponibilité Réalisée": ".1%"
            field: "Disponibilité Réalisée"
      }
    ]
    level: 3
    title: "Evolution des indicateurs par Centrale"
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "CENTRALE"
      ]
    parent_id: 10
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
    recommendation:
      advert: "INFO"
      content: "L'indicateur peut être modifié à l'aide des boutons en bas de l'écran"
    commentary: "Comment ont évolué mes indicateurs cette année ?"
    id: 1003
    chartOptions:
      value: "value"
      events: [
        {
          date: "8"
          name: "Pic de production d'août"
        }
        {
          date: "11"
          name: "Pic de production de novembre"
        }
      ]
      units:
        value: [
          {
            where:
              variable: "Production (MWH)"
            unit: " MHW"
          }
          {
            where:
              variable: "CA (k€)"
            unit: " k€"
          }
          {
            where:
              variable: "Prix MWh (€)"
            unit: " €"
          }
        ]
      date: "mois"
      chartType: "linechart"
      data:
        date:
          selector: "mois"
          format: "%m"
        query:
          domain: "data_centrales_evolution"
          Centrale: "<%= report.entityName %>"
        precision:
          value: [
            {
              where:
                variable: "Prix MWh (€)"
              precision: ".1f"
            }
            {
              where:
                variable: "Facteur de charge"
              precision: ".1%"
            }
          ]
        postprocess: [
          {
            melt:
              id: [
                "mois"
              ]
              value: [
                "Production (MWH)"
                "CA (k€)"
                "Facteur de charge"
                "Prix MWh (€)"
              ]
          }
        ]
      legend: true
  }
  {
    level: 3
    title: "Disponibilité au long de l'année"
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "CENTRALE"
      ]
    parent_id: 10
    recommendation:
      advert: "ATTENTION !"
      content: "La Disponibilité ici est une simple remise en échelle de du Facteur de charge (données non réalistes)"
    commentary: "Quand la <b><em><span class=\"legend-text-line\"> Disponibilité</span></em></b> dépasse les seuils définis ?"
    id: 1004
    chartOptions:
      sentimentZones: [
        {
          domain: [
            0
            0.95
          ]
          sentiment: "negative"
          label:
            text: "En dessous du seuil minimal de disponibilité"
            position: "top"
        }
        {
          domain: [
            0.99
            1
          ]
          sentiment: "positive"
          label:
            text: "Haute disponibilité"
            position: "top"
        }
      ]
      value: "Disponibilité"
      groups: "Centrale"
      date: "mois"
      chartType: "linechart"
      data:
        date:
          selector: "mois"
          format: "%m"
        query:
          domain: "data_centrales_evolution"
          Centrale:
            $in: [
              "<%= report.entityName %>"
              "Moyenne <%= report.entityTechno %>"
            ]
        precision:
          "Disponibilité": ".0%"
        postprocess: [
          {
            rename:
              columns:
                dispo_dyn_fake:
                  fr: "Disponibilité"
                  en: "Disponibilité"
          }
        ]
      legend: true
  }
  {
    title: "Consommation"
    level: 3
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    parent_id: 30
    filters:
      "bottom-right":
        on: "dimension"
        type: "buttons"
        order:
          custom: [
            "Volume"
            "Performance"
          ]
    id: 1007
    chartOptions:
      sort: "desc"
      groupsOrder: [
        "Pétrole"
        "Gaz"
        "Électricité"
        "Autres"
      ]
      value: "value"
      label: "entityName"
      groups: "energy"
      units:
        value: [
          {
            where:
              dimension: "Volume"
            unit: " GWh"
          }
          {
            where:
              dimension: "Performance"
            unit: " kWh/m²"
          }
        ]
      chartType: "stackedBarchart"
      data:
        query:
          domain: "tertiaire"
          measure: "Consommation"
        precision:
          valeur_ETP: ".1f"
      legend: true
  }
  {
    highlightedKpis: [
      {
        comment: "dans le pipeline"
        name: "Projets"
        badge: "bullet"
        precision:
          projets: ".0f"
        value: "projets"
        data:
          projets:
            query:
              kpi:
                $in: [
                  "Projets Pipe"
                ]
              domain: "data_kpis_pays"
            field: "value"
      }
      {
        name: "Abandonnés"
        sentiment:
          evol:
            domain: [
              0
            ]
            range: [
              "negative"
              "positive"
            ]
        badge: "evol"
        precision:
          projets: ".0f"
        value: "abandon"
        data:
          abandon:
            query:
              kpi:
                $in: [
                  "Projets Abandonnés"
                ]
              domain: "data_kpis_pays"
            field: "value"
          evol:
            query:
              kpi:
                $in: [
                  "Projets Abandonnés"
                ]
              domain: "data_kpis_pays"
            field: "evol"
      }
    ]
    title: "Pipeline des Projets"
    level: 3
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    parent_id: 20
    recommendation:
      advert: "INFO Données"
      content: """Les valeurs affichées correspondent au nombre de jours passés dans la phase du projet de la colonne correspodante.
        <hr>
        <div style='text-align:center'>
        <iframe src='https://www.youtube.com/embed/v6ZNDQ80ELE' width='240' height='135' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen>
        ok</iframe>
        </div>
      """
    id: 1008
    chartOptions:
      target: "Délai souhaité"
      sentiment:
        sentiment:
          domain: [
            -0.5
            0.5
            10000
          ]
          range: [
            "warning"
            "neutral"
            "positive"
            "negative"
          ]
      value: "NB de jours passés"
      y: "Parks"
      meta: [
        "Status"
        "Gross capacity (MW)"
        "Construction starting date"
        "Commissioning date"
        "Date de dépôt de PC"
      ]
      filters:
        "upper-right":
          on: "Region"
          defaultSelected: "Nord"
          type: "dropdown"
        "upper-middle":
          on: "Techno"
          defaultSelected: "Wind"
          type: "dropdown"
      chartType: "heatmap"
      units:
        "NB de jours passés": " jours"
      x: "Phase"
      data:
        query:
          domain: "data_pipeline_projets_2016"
      legend: true
      xOrder: [
        "Prospection"
        "Developpement"
        "Autorisation"
        "Construction"
      ]
  }
  {
    datasets:
      dept_data:
        units:
          "Capacité dépt. (MW)": " MW"
        query:
          domain: "data_capacite_dept"
        precision:
          "Capacité dépt. (MW)": ".1f"
        id: "dept_data"
      centrales_data:
        units:
          "Capacité (MW)": " MW"
        query:
          domain: "data_capacite_centrale_geo"
        precision:
          "Capacité (MW)": ".1f"
        id: "centrales_data"
    level: 3
    title: "Distribution Géographique des Capacités"
    restrictVisibility:
      reportEntry: "entityType"
      allowedReports: [
        "PAYS"
      ]
    parent_id: 20
    filters:
      "bottom-right":
        on: "type"
        datasets: [
          "centrales_data"
          "dept_data"
        ]
        type: "buttons"
        order:
          custom: [
            "Installée"
            "En construction"
          ]
    commentary: ""
    id: 1005
    chartOptions:
      autoSelect: false
      markers:
        color: "Techno"
        longitude: "long"
        label: "Park"
        meta: [
          "Capacité (MW)"
        ]
        latitude: "lat"
        dataset: "centrales_data"
      zones:
        join:
          shapes: "CODE_DEPT"
          data: "Département"
        color: "Capacité dépt. (MW)"
        label: "NOM_DEPT"
        shapes: "depts-details-topojson.json"
        meta: [
          "Département"
        ]
        dataset: "dept_data"
      levels: 4
      units:
        "Capacité dépt. (MW)": " MW"
      chartType: "mapchart"
      legend: true
  }
  {
    parent_id: 403
    level: 3
    id: 40302
    chartOptions:
      sort: "desc"
      value: "Pourcentage"
      label: "Evenements"
      variationLegend: "Écart<br>année passée"
      meta: "Effectif"
      variation: "evolution"
      sparklines:
        orderDates: true
        value: "Value"
        joins: [
          "Evenements"
        ]
        date: "Date"
        data:
          query:
            domain: "horizontal_barchart_sparklines"
        legend: "Évolution<br>sur 8 mois"
        unit: "%"
      showAverage: true
      units:
        evolution: "%"
        Pourcentage: " %"
      chartType: "horizontalBarchart"
      data:
        query:
          domain: "horizontal_barchart_evolution"
    title: "Évènement Client"
  }
]
captureChartEnabled: true
slidePdfEnabled: true
sharingOptions: true
offline:true
home:
  skipToReport: 0
