entityName: "{{ unique_id }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: true

categories: [
  name: "Leaderboards / Horizontal Barcharts"
  kpis: [
    name: "Top movies (revenue)"
    type: "leaderboard"
    chartOptions:
      value: "gross"
      label: "movie_title"
      sort: "desc"
      data:
        query:[
          $match:
            domain: "source"
            title_year:'2016'
        ,
          $sort:'gross':-1
        ,
          $limit:3
        ]
        precision:
          gross: ".0f"
      units:
        gross: " m$"
  ,
    name: "Top countries (revenue)"
    type: "leaderboard"
    chartOptions:
      value: "gross"
      variation:'gross_variation'
      label: "country"
      sort: "desc"
      data:
        query:[
          $match:
            domain: "time_country"
            title_year:'2016'
        ,
          $sort:'gross':-1
        ,
          $limit:3
        ]
        precision:
          gross: ".0f"
          gross_variation: ".1%"
      units:
        gross: " m$"
  ]
,
  name: "Value dynamics"
  kpis: [
    name: "Total gross revenue"
    type: 'value-dynamic'
    value: "my_value"
    unit: " $m"
    precision:
      my_value: '.0f'
    data:
      my_value:
        query:[
          $match:
            domain: "time_country"
            title_year:'2016'
        ,
          $group:
            _id:null
            total_gross:$sum:'$gross'
        ,
          $project:
            total_gross:1
        ]
        field: "total_gross"
    source: "2015, source Smart Toucan"
  ,
    name: "France revenue vs LY"
    type: 'value-dynamic'
    value: "my_value"
    comment:"<%=\' \' + variation + \' \' vs LY>"
    badge:'variation'
    sentiment:
      variation:
        domain: [0]
        range: ['negative','positive']
    unit: " $m"
    precision:
      my_value: '.0f'
      variation: '.1%'
    data:
      my_value:
        query:[
          $match:
            domain: "time_country"
            title_year:'2016'
            country:'France'
        ]
        field: "gross"
      variation:
        query:[
          $match:
            domain: "time_country"
            title_year:'2016'
            country:'France'
        ]
        field: "gross_variation"
    source: "2015, source Smart Toucan"
  ]
,
  name: "Linecharts"
  kpis: [
    name: "Evolution total gross"
    type: "line"
    chartOptions:
      value: "total_gross"
      date: "title_year"
      data:
        query:[
          $match:
            domain: "time_country"
        ,
          $group:
            _id:'$title_year'
            total_gross:$sum:'$gross'
        ,
          $project:
            total_gross:1
            title_year: '$_id'
        ]
        precision:
              total_gross: '.0f'
      units:
        gross: " $m"
    source: "2015, source Smart Toucan"
  ,
    name: "Evolution total gross"
    type: "value-sparkline"
    # value: "{{last_total_gross}}"
    chartOptions:
      value: "total_gross"
      date: "title_year"
      data:
        query:[
          $match:
            domain: "time_country"
        ,
          $group:
            _id:'$title_year'
            total_gross:$sum:'$gross'
        ,
          $project:
            total_gross:1
            title_year: '$_id'
        ]
        precision:
              total_gross: '.0f'
      # __data__:
      #   last_total_gross:
      #     query:[
      #       $match:
      #         domain: "time_country"
      #         title_year:2016
      #     ,
      #       $group:
      #         _id:null
      #         last_total_gross:$sum:'$gross'
      #     ,
      #       $project:
      #         last_total_gross:1
      #     ]
      #     field: "last_total_gross"
    unit: " $m"
    source: "2015, source Smart Toucan"
  ]
,
  name: "Scorecards"
  kpis: [
    name: "Focus on 2016 black and white movies"
    type: 'score-card'
    chartOptions:
      value: "value"
      # variation: "my_previous_value"
      label: "variable"
      # sentiment:
      #   value:
      #     domain:['my_previous_value']
      #     range:['negative','positive']
      units:
        value:[
          unit:' $m'
          where:
            'variable':'budget'
        ,
          unit:' $m'
          where:
            'variable':'budget'
        ,
          unit:'/10'
          where:
            'variable':'imdb_score'
        ]
      data:
        query:[
          $match:
            domain: "time_country"
            black_white:1
        ,
          $group:
            _id:null
            imdb_score:$avg:'$imdb_score'
            budget:$sum:'$budget'
            gross:$sum:'$gross'
        ,
          $project:
            imdb_score:1
            budget:1
            gross:1
        ]
        postprocess:[
          melt:
            id:['_id']
            value:['imdb_score','budget','gross']
        ]
  ]
,
  name: "Heatmaps"
  kpis: [
    name:'2016 Top 5 movies bench'
    type:'heatmap'

    chartOptions:
      data:
        query:[
          $match:
            domain: "source"
            title_year:'2016'
        ,
          $sort:'gross':-1
        ,
          $limit:5
        ]
        postprocess:[
          melt:
            id:['movie_title']
            value:['imdb_score','profitability','duration']
        ]
      y: 'movie_title'
      x: 'variable'
      value: 'value'
      sentiment:
        value:[
          sentiment:
            domain:[3,7]
            range: ['negative','warning','positive']
           where:
             variable: "imdb_score"
         ,
          sentiment:
            domain:[0,1.1]
            range: ['negative','warning','positive']
           where:
             variable: "profitability"
         ,
          sentiment:
            domain:[90,120]
            range: ['warning','positive','warning']
           where:
             variable: "duration"
       ]
  ]
]
