etl_config:
  DATA_SOURCES: [
      domain: "sample_reports"
      type: "csv"
      file: "reports.csv"
  ,
      domain: "sample_dashboards"
      type: "csv"
      file: "dashboards.csv"
  ,
      domain: "dashboard_KPIs"
      type: "excel"
      sheetname: 'dashboard_KPIs'
      file: "dashboards_data.xls"
  ,
      domain: "dashboard_trend"
      type: "excel"
      sheetname: 'dashboard_trend'
      file: "dashboards_data.xls"

  ]

  DATA_PROVIDERS: []

  REPORTS: [
    query:
      #which domain contains the report I want the user to choose among?
      domain: "sample_reports"
    #which report template shall be used for those reports?
    #This file.cson shall be located inside template > reports > file.cson
    template: "report"
  ]

  DASHBOARDS: [
    #usual data query that should return the elements for which you want
    #a synthesis
    report: "my_report_name_column"#column that contain the dashboard
    #corresponding report name
    query:
      #which domain contains the dashboards I want to apply the below template?
      domain: "sample_dashboards"
    #file_name.cson which contain the template to use for the elements of the
    #query
    #This file.cson shall be located inside template > dashboards > file.cson
    template: "dashboard"
  ]

  MONGO_INDEXES: [
    "domain"
  ]
