etl_config:
  DATA_SOURCES: [
      domain: "liste_etablissements"
      type: "excel"
      file: "liste_etablissements.xls"
      sheetname: 'liste_etablissements'
  ,
      domain: "sample_dashboards"
      type: "csv"
      file: "dashboards.csv"
  ,
      domain: "dashboard_KPIs"
      type: "excel"
      sheetname: 'dashboard_KPIs'
      file: "dashboards_data.xls"
  ,
      domain: "dashboard_trend"
      type: "excel"
      sheetname: 'dashboard_trend'
      file: "dashboards_data.xls"
  ,
      domain: "part_de_marche"
      type: "excel"
      sheetname: 'part_de_marche'
      file: "activite.xls"
  ,
      domain: "leaderboard"
      type: "excel"
      sheetname: 'leaderboard'
      file: "activite.xls"
  ,
      domain: "occupation_lits"
      type: "excel"
      sheetname: 'occupation_lits'
      file: "activite.xls"
  ]

  DATA_PROVIDERS: []

  REPORTS: [
    query:
      #which domain contains the report I want the user to choose among?
      domain: "liste_etablissements"
    #which report template shall be used for those reports?
    #This file.cson shall be located inside template > reports > file.cson
    template: "report"
  ]

  DASHBOARDS: [
    #usual data query that should return the elements for which you want
    #a synthesis
    report: "my_report_name_column"#column that contain the dashboard
    #corresponding report name
    query:
      #which domain contains the dashboards I want to apply the below template?
      domain: "sample_dashboards"
    #file_name.cson which contain the template to use for the elements of the
    #query
    #This file.cson shall be located inside template > dashboards > file.cson
    template: "dashboard"
  ]

  MONGO_INDEXES: [
    "domain"
  ]
