etl_config:
  DATA_SOURCES: [
      domain: "liste_etablissements"
      type: "excel"
      file: "liste_etablissements.xls"
      sheetname: 'liste_etablissements'
  ,
      domain: "sample_dashboards"
      type: "csv"
      file: "dashboards.csv"
  ,
      domain: "dates"
      type: "excel"
      sheetname: 'dates'
      file: "dashboards_data.xls"
  ,
      domain: "dashboard_KPIs"
      type: "excel"
      sheetname: 'dashboard_KPIs'
      file: "dashboards_data.xls"
  ,
      domain: "dashboard_leaderboard"
      type: "excel"
      sheetname: 'dashboard_leaderboard'
      file: "dashboards_data.xls"
  ,
      domain: "ID"
      type: "excel"
      sheetname: 'ID'
      file: "dashboards_data.xls"
  ,
      domain: "Carte_identite"
      type: "excel"
      sheetname: 'Act. Globales'
      file: "Carte_Identite.xlsx"
  ,
      domain: "Carte_identite_Act"
      type: "excel"
      sheetname: 'Act. Interventions'
      file: "Carte_Identite.xlsx"
  ,
      domain: "Carte_identite_Finance"
      type: "excel"
      sheetname: 'Finance'
      file: "Carte_Identite.xlsx"
  ,
      domain: "Carte_identite_Lits"
      type: "excel"
      sheetname: 'lits'
      file: "Carte_Identite.xlsx"
  ,
      domain: "Carte_identite_Plateaux"
      type: "excel"
      sheetname: 'plateaux'
      file: "Carte_Identite.xlsx"
  ,
      domain: "Carte_identite_Numerique"
      type: "excel"
      sheetname: 'Numerique'
      file: "Carte_Identite.xlsx"
  ,
      domain: "part_de_marche"
      type: "excel"
      sheetname: 'part_de_marche'
      file: "activite.xls"
  ,
      domain: "leaderboard"
      type: "excel"
      sheetname: 'leaderboard'
      file: "activite.xls"
  ,
      domain: "occupation_lits"
      type: "excel"
      sheetname: 'occupation_lits'
      file: "activite.xls"
  ,
      domain: "activité_globale"
      type: "excel"
      sheetname: 'activite_globale'
      file: "activite.xls"
  ,
      domain: "qualité"
      type: "excel"
      sheetname: 'Sheet1'
      file: "qualité.xlsx"
  ,
      domain: "DMS"
      type: "excel"
      sheetname: 'DMS'
      file: "organisation.xlsx"
  ,
      domain: "technique"
      type: "excel"
      sheetname: 'technique'
      file: "organisation.xlsx"
  ,
      domain: "obstetrique"
      type: "excel"
      sheetname: 'obstetrique'
      file: "organisation.xlsx"
  ,
      domain: "ambu"
      type: "excel"
      sheetname: 'ambu'
      file: "organisation.xlsx"
  ,
      domain: "admin"
      type: "excel"
      sheetname: 'admin'
      file: "organisation.xlsx"
  ,
      domain: "numerique"
      type: "excel"
      sheetname: 'numerique'
      file: "organisation.xlsx"

  ]

  DATA_PROVIDERS: []

  REPORTS: [
    query:
      #which domain contains the report I want the user to choose among?
      domain: "liste_etablissements"
    #which report template shall be used for those reports?
    #This file.cson shall be located inside template > reports > file.cson
    template: "report"
  ]

  DASHBOARDS: [
    #usual data query that should return the elements for which you want
    #a synthesis
    report: "my_report_name_column"#column that contain the dashboard
    #corresponding report name
    query:
      #which domain contains the dashboards I want to apply the below template?
      domain: "sample_dashboards"
    #file_name.cson which contain the template to use for the elements of the
    #query
    #This file.cson shall be located inside template > dashboards > file.cson
    template: "dashboard"

  ]

  MONGO_INDEXES: [
    "domain"
  ]
