settings:
  # comparison:
  #   description: "Sur tous les écrans de comparaison, comparer avec :"
  #   values: [
  #     "Région"
  #     "Catégorie"
  #     "Typologie"
    # ]
  requesters:[
      id:"zones"
      description: "Zones"
      type:"dropdown"
      default:"zone d'attractivité"
      query:
        domain:"part_de_marche"
      fields:["zones"]
      slides:[2001]
    ,
      id:"comparaison"
      description: "Comparer avec"
      type:"dropdown"
      default:"région"
      query:
        domain:"occupation_lits"
      fields:["comparaison"]
      slides:[2003,2004]
  ]


glossary:[]

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Carte d'identité"
    id: 10
  }
  {
    level: 1
    title: "Activité"
    id: 20
  }
  {
    level: 1
    title: "Qualité"
    id: 30
  }
  {
    level: 1
    title: "Organisation"
    id: 40
  }
  {
    level: 1
    title: "Ressources Humaines"
    id: 50
  }
  {
    level: 1
    title: "Finances"
    id: 60
  }
  {
    level: 3
    parent_id: 10
    id: 1001
    title: "Activité Globale - RSA"
  }
  {
    level: 3
    parent_id: 10
    id: 1002
    title: "Activité Globale - Nbr d'actes"
  }
  {
    level: 3
    parent_id: 10
    id: 1003
    title: "Finance"
  }
  {
    level: 3
    parent_id: 10
    id: 1004
    title: "Activité pour les interventions"
  }
  {
    level: 3
    parent_id: 10
    id: 1005
    title: "Groupe d'activité"
  }
  {
    level: 3
    parent_id: 10
    id: 1006
    title: "Lits & Places"
  }
  {
    level: 3
    parent_id: 10
    id: 1007
    title: "Plateau technique"
  }
  {
    level: 3
    parent_id: 10
    id: 1008
    title: "Hopital Numérique"
  }
  {
    level: 3
    parent_id: 20
    id: 2001
    title: "Part de marché"
    commentary: "Part de marché de l'établissement au sein de la <%= requestersManager.zones %>"
    filters:
      'bottom-right':
        on: 'metric'
        type: 'buttons'
        default: "Médecine"
        datasets: [0,1]
    charts:[
      {
        data:
          query:
            domain: "part_de_marche"
            etablissements: "<%= report.entityName %>"
            # metric: '<%= requestersManager.metric %>'
            zones: '<%= requestersManager.zones %>'
          precision:
            value: '.1f'
          date:
            format: "%Y"
        chartType: "linechart"
        value: "value"
        groups: 'etablissements'
        date: 'date'
        units:
          value: "%"
        crossfilter:
          on: "date"
          datasets: [1]
        style: "secondary"
        id: 0
        size: 0.25
      }
      {
        data:
          query:
            domain: "leaderboard"
            zones: '<%= requestersManager.zones %>'
          precision:
            value: '.1f'
            variation: '.1f'
        chartType: "horizontal-barchart"
        label: "etablissements"
        value: "value"
        sort: 'desc'
        rank: true
        variation: "variation"
        variationLegend: "vs.N-1"
        # legend: 'Part de marché'
        # filters: 'upper-middle':
        #   on: 'metric'
        #   type: 'buttons'
        units:
          value: "%"
          variation: ' pts'
        id: 1
      }
    ]
    # chartOptions:
    #   data:
    #     query:
    #       domain: "part_de_marche"
    #       etablissements: "<%= report.entityName %>"
    #       # zones: "zone d'attractivité"
    #     precision:
    #       value: '.1f'
    #     date:
    #       format: "%Y"
    #   chartType: "linechart"
    #   value: "value"
    #   groups: 'label'
    #   date: 'date'
    #   legend: true
    #   units:
    #     value: "%"
    #   filters: 'upper-middle':
    #     on: 'metric'
    #     type: 'buttons'

  }
  # {
  #   level: 3
  #   parent_id: 20
  #   id: 2002
  #   title: "Classement"
  #   commentary: "Classement des part de marché des extablissement dans zone d'attractivité/region"
  #   chartOptions:
  #     data:
  #       query:
  #         domain: "leaderboard"
  #       precision:
  #         value: '.1f'
  #     chartType: "horizontalBarchart"
  #     label: "etablissements"
  #     value: "value"
  #     sort: 'desc'
  #     rank: true
  #     # legend: 'Part de marché'
  #     filters: 'upper-middle':
  #       on: 'metric'
  #       type: 'buttons'
  #     units:
  #       value: "%"
  #     sparklines:
  #         data:
  #           query:
  #             domain: "part_de_marche"
  #           date:
  #             selector: "date"
  #             format: "%Y" # See d3 time formatting for reference
  #           precision:
  #             value: '.1f'
  #         joins: ["etablissements", "metric", "zones"]
  #         value: "value"
  #         date: "date"
  #         # dateFormat: "%B" # Optional display format that will override the one present in data
  #         legend: "Évo. part de marché"
  #         units:
  #           value: "%"
  #   filters: 'bottom-right':
  #     on: 'zones'
  #     type: 'buttons'
  #     defaultSelected: "zone d'attractivité"
  # }
  {
    level: 3
    parent_id: 20
    id: 2003
    title: "Occupation des lits"
    commentary: "Comparaison au sein de la <%= requestersManager.comparaison %><br>Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    filters:
      'bottom-right':
        on: 'date'
        type: 'slider'
        # default: "Médecine"
    chartOptions:
      comparison: '2ème décile'
      commonScale: true
      target: '8ème décile'
      # 'packs': 'group'
      value: 'value'
      label: 'label'
      meta: [ '' ]
      units:
        value: '%'
        '8ème décile': '%'
        '2ème décile': '%'
      chartType: 'bulletChart'
      data:
        query:
          domain: 'occupation_lits'
          etablissements: "<%= report.entityName %>"
          comparaison: '<%= requestersManager.comparaison %>'
          # date: '<%= requestersManager.date.date %>'
  }
  {
    level: 3
    parent_id: 20
    id: 2004
    title: "Activité globale"
    commentary: "Comparaison au sein de la <%= requestersManager.comparaison %><br>Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    # filters:
    #   'bottom-right':
    #     on: 'date'
    #     type: 'slider'
    chartOptions:
      comparison: '2ème décile'
      commonScale: true
      target: '8ème décile'
      # 'packs': 'group'
      value: 'value'
      label: 'label'
      meta: [ '' ]
      units:
        value: '%'
        '8ème décile': '%'
        '2ème décile': '%'
      chartType: 'bulletChart'
      data:
        query:
          domain: 'activité_globale'
          etablissements: "<%= report.entityName %>"
          comparaison: '<%= requestersManager.comparaison %>'
          date: '<%= requestersManager.date.date %>'
  }
  {
    level: 3
    parent_id: 20
    id: 2005
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "activite_asset_text"
  }
  {
    level: 3
    title: "Indicateurs de Qualité"
    parent_id: 30
    id: 3001

    chartOptions:
      chartType: "score-card"
      value: "value"
      label: "label"
      packs: "packs"
      # packsOrder:
      #   custom: [
      #     "Conformité",
      #     "Cotation",
      #     "Autres"
      #   ]
      data:
        query:
          domain: "qualité"
          etablissements: "<%= report.entityName %>"

    filters: 'bottom-right':
      on: 'date'
      type: 'slider'
  }
  {
    level: 3
    parent_id: 30
    id: 3002
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "qualite_asset_text"
  }
  {
    level: 3
    parent_id: 40
    id: 4001
    title: "Adéquation des durées de séjour"
  }
  {
    level: 3
    parent_id: 40
    id: 4002
    title: "Optimisation des dépenses"
  }
  {
    level: 3
    parent_id: 40
    id: 4003
    title: "Utilisation des moyens médico-techniques"
  }
  {
    level: 3
    parent_id: 40
    id: 4004
    title: "Organisation Médicale et Obstétrique"
  }
  {
    level: 3
    parent_id: 40
    id: 4005
    title: "Autre indicateurs"
  }
  {
    level: 3
    parent_id: 40
    id: 4006
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "organisation_asset_text"
  }
  {
    level: 3
    parent_id: 50
    id: 5001
    title: "Activité rapportées aux effectifs"
  }
  {
    level: 3
    parent_id: 50
    id: 5002
    title: "Structure des équipes"
  }
  {
    level: 3
    parent_id: 50
    id: 5003
    title: "Autre indicateurs"
  }
  {
    level: 3
    parent_id: 50
    id: 5004
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "rh_asset_text"
  }
  {
    level: 3
    parent_id: 60
    id: 6001
    title: "Capacité à génerer des excédents"
  }
  {
    level: 3
    parent_id: 60
    id: 6002
    title: "Endettement et capacité à rembourser"
  }
  {
    level: 3
    parent_id: 60
    id: 6003
    title: "Immobilisations"
  }
  {
    level: 3
    parent_id: 60
    id: 6004
    title: "Structure financière"
  }
  {
    level: 3
    parent_id: 60
    id: 6005
    title: "Indicateurs de recouvrement/règlement"
  }
  {
    level: 3
    parent_id: 60
    id: 6006
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "finance_asset_text"
  }
]
