settings:
  # comparison:
  #   description: "Sur tous les écrans de comparaison, comparer avec :"
  #   values: [
  #     "Région"
  #     "Catégorie"
  #     "Typologie"
    # ]
  requesters:[
      id:"zones"
      description: "Zones"
      type:"dropdown"
      default:"zone d'attractivité"
      query:
        domain:"part_de_marche"
      fields:["zones"]
      slides:[2001]
    ,
      id:"comparaison"
      description: "Comparer avec"
      type:"dropdown"
      default:"région"
      query:
        domain:"occupation_lits"
      fields:["comparaison"]
      slides:[2003,2004,4001,4003]
  ]


glossary:[]

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Carte d'identité"
    id: 10
  }
  {
    level: 1
    title: "Activité"
    id: 20
  }
  {
    level: 1
    title: "Qualité"
    id: 30
  }
  {
    level: 1
    title: "Organisation"
    id: 40
  }
  {
    level: 1
    title: "Ressources Humaines"
    id: 50
  }
  {
    level: 1
    title: "Finances"
    id: 60
  }
  {
    level: 3
    parent_id: 10
    id: 1001
    title: "Activité Globale - RSA"
    source: "Source PMSI"
    commentary: "Nombre d'actes - Comparaison par années"
    filters:
      'bottom-right':
        on: 'Domaine'
        type: 'buttons'
        defaultSelected: "Médecine"
    chartOptions:

      data:
        query:
          domain: 'Carte_identite'
          etablissements: "<%= report.entityName %>"
          metric: "RSA"

      chartType: 'linechart'
      value: 'value'
      date:'Dates'
      groups: "label"
      legend:
        type: 'identity-card'
        filter: 'bottom-right'


  }
  {
    level: 3
    parent_id: 10
    id: 1002
    title: "Activité Globale"
    source: "Source PMSI"
    commentary: "Nombre d'actes - Comparaison par années"
    filters:
      'bottom-right':
        on: 'label'
        type: 'buttons'
        defaultSelected: "Séance"
    chartOptions:
      chartType: "stackedBarchart"
      data:
        data:
          precision: 0
          date:
            selector:"date"
            format:'%Y'
        query:
          domain: 'Carte_identite'
          etablissements: "<%= report.entityName %>"
          metric: "Global"
          #subdomain: 'sales_evolution_hw'
      value: "value"
      date: "date"
      label: "Dates"
      groups: "Domaine"
      #order: "value"
      #sort: "desc"
      legend:
        type: 'identity-card'
        filter: 'bottom-right'

  }
  {
    level: 3
    parent_id: 10
    id: 1003
    title: "Finance"

    chartOptions:
      chartType: "filtrable-waterfall"
      zeroBaseline: 0
      drillLevel: "drill_level"
      drillGroup: "drill_group"
      order: "display_order"
      value: "value"
      evolution: "Evolution"
      #meta: "meta"
      label: 'Label'

      data:
        # order:
        #   by: 'index'
        precision: 0
        query:
          domain: "Carte_identite_Finance"
          date: '<%= requestersManager.date.date %>'
      # sublabel: 'label_sublevel'
      # meta: 'Actuel'
      units:
        "value": " M€"


  }
  {
    level: 3
    parent_id: 10
    id: 1004
    title: "Activité pour les interventions"
    source: "Source PMSI"
    commentary: "Activité pour les interventions les plus fréquentes au niveau national"
    # filters:
    #   'bottom-right':
    #     on: 'Année'
    #     type: 'slider'
    #     defaultSelected: "2015"
    # chartOptions:
    #   chartType: "stackedBarchart"
    #   data:
    #     precision: 0
    #     query:
    #       domain: 'Carte_identite_Act'
    #       etablissements: "<%= report.entityName %>"
    #       metric: "Intervention"
    #       #subdomain: 'sales_evolution_hw'
    #   value: "value"
    #   label: "Label"
    #   order: "value"
    #   sort: "desc"
    #   legend:
    #     type: 'identity-card'
    #     filter: 'bottom-right'
    chartOptions:
      data:
        query:
          domain: 'Carte_identite_Act'
          etablissements: "<%= report.entityName %>"
          date: '<%= requestersManager.date.date %>'
          metric: "Intervention"

      chartType: "horizontalBarchart"
      value: "value"
      label: "Label"
      variation: "Evolution"
      variationLegend: "Écart<br>année précédente"
      units:
        value: " "
        Evolution: " "

      sort: "desc"
      sparklines:
        data:
          query:
            domain: 'Carte_identite_Act'
            etablissements: "<%= report.entityName %>"
            metric: "Intervention"
        joins: ["Label"]
        legend: "Évolution<br>sur 4 ans"
        value: "value"
        date: "date"
        Label : "Dates"
        unit: "actes"
        orderDates: true
      showAverage: true
  }
  {
    level: 3
    parent_id: 10
    id: 1005
    title: "Groupe d'activité"
    source: "Source PMSI"
    commentary: "Activité pour les interventions les plus fréquentes au niveau national"
    filters:
      'bottom-right':
        on: 'Domaine'
        type: 'buttons'
        defaultSelected: "Médecine"

    chartOptions:
      data:
        query:
          domain: 'Carte_identite_Act'
          etablissements: "<%= report.entityName %>"
          date: '<%= requestersManager.date.date %>'
          metric: "Groupes"

      chartType: "horizontalBarchart"
      value: "value"
      label: "Label"
      variation: "Evolution"
      variationLegend: "Écart<br>année précédente"
      units:
        value: " "
        Evolution: " "

      sort: "desc"
      sparklines:
        data:
          query:
            domain: 'Carte_identite_Act'
            etablissements: "<%= report.entityName %>"
            metric: "Groupes"
        joins: ["Label"]
        legend: "Évolution<br>sur 4 ans"
        value: "value"
        date: "date"
        Label : "Dates"
        unit: "actes"
        orderDates: true
      showAverage: true
  }
  {
    level: 3
    parent_id: 10
    id: 1006
    title: "Lits & Places"
    source: "Source SAE"
    commentary: "Lits et places installés"
    filters:
      'bottom-right':
        on: 'Domaine'
        type: 'buttons'
        defaultSelected: "Médecine"
      'upper-right':
        on: "Label"
        type: "dropdown"

    chartOptions:
      chartType: "stackedBarchart"
      data:
        precision: 0
        date:
          selector:"date"
          format:'%Y'
        query:
          domain: 'Carte_identite_Lits'
          etablissements: "<%= report.entityName %>"
          #subdomain: 'sales_evolution_hw'
      value: "value"
      date:"date"
      label: "Dates"
      groups: "Groupes"
      #order: "value"
      #sort: "desc"
      legend:
        type: 'identity-card'
        filter: 'upper-right'
  }
  {
    level: 3
    parent_id: 10
    id: 1007
    title: "Plateaux techniques"
    source: "Source SAE"
    commentary: "Plateaux techniques"
    chartOptions:
      chartType: "score-card"
      value: "value"
      label: "Label"
      #packs: "packs"
      # packsOrder:
      #   custom: [
      #     "Conformité",
      #     "Cotation",
      #     "Autres"
      #   ]
      data:
        query:
          domain: "Carte_identite_Plateaux"
          etablissements: "<%= report.entityName %>"
          date: '<%= requestersManager.date.date %>'

      sparklines:
        data:
          query:
            domain: 'Carte_identite_Plateaux'
            etablissements: "<%= report.entityName %>"
        joins: ["Label"]
        legend: "Évolution sur 4 ans"
        value: "value"
        date: "date"
        Label : "Dates"

  }
  {
    level: 3
    parent_id: 10
    id: 1008
    title: "Hopital Numérique"

    chartOptions:
      data:
        query:
          domain: "Carte_identite_Numerique"
          etablissements: "<%= report.entityName %>"
      chartType: "heatmap"
      legend: true
      x: "Dates"
      #xpack: "segment"
      y: "Indicateur"
      #ypack: "zone"
      value: "value"
      target: "Target"
      variation: "variation"
      reverse: true
      sentiment:
        value:
          domain: ['0.8*Target','Target']
          range: ['negative','neutral','positive']
      meta: []
      units:
        value: '%'
        variation: 'pt'
  }
  {
    level: 3
    parent_id: 20
    id: 2001
    title: "Part de marché"
    commentary: "Part de marché de l'établissement au sein de la <%= requestersManager.zones %>"
    filters:
      'bottom-right':
        on: 'metric'
        type: 'buttons'
        default: "Médecine"
        datasets: [0,1]
    charts:[
      {
        data:
          query:
            domain: "part_de_marche"
            etablissements: "<%= report.entityName %>"
            # metric: '<%= requestersManager.metric %>'
            zones: '<%= requestersManager.zones %>'
          precision:
            value: '.1f'
          date:
            format: "%Y"
        chartType: "linechart"
        value: "value"
        groups: 'etablissements'
        date: 'date'
        units:
          value: "%"
        crossfilter:
          on: "date"
          datasets: [1]
        style: "secondary"
        id: 0
        size: 0.25
      }
      {
        data:
          query:
            domain: "leaderboard"
            zones: '<%= requestersManager.zones %>'
          precision:
            value: '.1f'
            variation: '.1f'
        chartType: "horizontal-barchart"
        label: "etablissements"
        value: "value"
        sort: 'desc'
        rank: true
        variation: "variation"
        variationLegend: "Écart<br>année précédente"
        # legend: 'Part de marché'
        # filters: 'upper-middle':
        #   on: 'metric'
        #   type: 'buttons'
        units:
          value: "%"
          variation: ' pts'
        id: 1
      }
    ]
    # chartOptions:
    #   data:
    #     query:
    #       domain: "part_de_marche"
    #       etablissements: "<%= report.entityName %>"
    #       # zones: "zone d'attractivité"
    #     precision:
    #       value: '.1f'
    #     date:
    #       format: "%Y"
    #   chartType: "linechart"
    #   value: "value"
    #   groups: 'label'
    #   date: 'date'
    #   legend: true
    #   units:
    #     value: "%"
    #   filters: 'upper-middle':
    #     on: 'metric'
    #     type: 'buttons'

  }
  # {
  #   level: 3
  #   parent_id: 20
  #   id: 2002
  #   title: "Classement"
  #   commentary: "Classement des part de marché des extablissement dans zone d'attractivité/region"
  #   chartOptions:
  #     data:
  #       query:
  #         domain: "leaderboard"
  #       precision:
  #         value: '.1f'
  #     chartType: "horizontalBarchart"
  #     label: "etablissements"
  #     value: "value"
  #     sort: 'desc'
  #     rank: true
  #     # legend: 'Part de marché'
  #     filters: 'upper-middle':
  #       on: 'metric'
  #       type: 'buttons'
  #     units:
  #       value: "%"
  #     sparklines:
  #         data:
  #           query:
  #             domain: "part_de_marche"
  #           date:
  #             selector: "date"
  #             format: "%Y" # See d3 time formatting for reference
  #           precision:
  #             value: '.1f'
  #         joins: ["etablissements", "metric", "zones"]
  #         value: "value"
  #         date: "date"
  #         # dateFormat: "%B" # Optional display format that will override the one present in data
  #         legend: "Évo. part de marché"
  #         units:
  #           value: "%"
  #   filters: 'bottom-right':
  #     on: 'zones'
  #     type: 'buttons'
  #     defaultSelected: "zone d'attractivité"
  # }
  {
    level: 3
    parent_id: 20
    id: 2003
    title: "Occupation des lits"
    commentary: "Comparaison au sein de la <%= requestersManager.comparaison %><br>Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    filters:
      'bottom-right':
        on: 'date'
        type: 'slider'
        # default: "Médecine"
    chartOptions:
      comparison: '2ème décile'
      commonScale: true
      target: '8ème décile'
      # 'packs': 'group'
      value: 'value'
      label: 'label'
      meta: [ '' ]
      units:
        value: '%'
        '8ème décile': '%'
        '2ème décile': '%'
      chartType: 'bulletChart'
      data:
        query:
          domain: 'occupation_lits'
          etablissements: "<%= report.entityName %>"
          comparaison: '<%= requestersManager.comparaison %>'
          # date: '<%= requestersManager.date.date %>'
  }
  {
    level: 3
    parent_id: 20
    id: 2004
    title: "Activité globale"
    commentary: "Comparaison au sein de la <%= requestersManager.comparaison %><br>Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    # filters:
    #   'bottom-right':
    #     on: 'date'
    #     type: 'slider'
    chartOptions:
      comparison: '2ème décile'
      commonScale: true
      target: '8ème décile'
      # 'packs': 'group'
      value: 'value'
      label: 'label'
      meta: [ '' ]
      units:
        value: '%'
        '8ème décile': '%'
        '2ème décile': '%'
      chartType: 'bulletChart'
      data:
        query:
          domain: 'activité_globale'
          etablissements: "<%= report.entityName %>"
          comparaison: '<%= requestersManager.comparaison %>'
          date: '<%= requestersManager.date.date %>'
  }
  {
    level: 3
    parent_id: 20
    id: 2005
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "activite_asset_text"
  }
  {
    level: 3
    title: "Indicateurs de Qualité"
    parent_id: 30
    id: 3001

    chartOptions:
      chartType: "score-card"
      value: "value"
      label: "label"
      packs: "packs"
      # packsOrder:
      #   custom: [
      #     "Conformité",
      #     "Cotation",
      #     "Autres"
      #   ]
      data:
        query:
          domain: "qualité"
          etablissements: "<%= report.entityName %>"

    filters: 'bottom-right':
      on: 'date'
      type: 'slider'
  }
  {
    level: 3
    parent_id: 30
    id: 3002
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "qualite_asset_text"
  }
  {
    level: 3
    parent_id: 40
    id: 4001
    title: "Adéquation des durées de séjour"
    # source: "Source PMSI"
    commentary: "Hors ambulatoire<br>Comparaison au sein de la <b><%= requestersManager.comparaison %></b><br>Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    filters:
      'bottom-right':
        on: 'metric'
        type: 'buttons'
        defaultSelected: "IP-DMS Médecine"
        order:
          custom: [
            "IP-DMS Médecine"
            "IP-DMS Chirurgie"
            "IP-DMS Obstétrique"
          ]
    chartOptions:
      data:
        query:
          domain: 'DMS'
          etablissements: "<%= report.entityName %>"
          # date: '<%= requestersManager.date.dates %>'
          comparaison: $in: ["etablissement", '<%= requestersManager.comparaison %>']
        precision:
          value: '.3f'
      chartType: 'linechart'
      value: 'value'
      date:'date'
      groups: "label"
      legend:
        type: 'identity-card'
        filter: 'bottom-right'
  }
  {
    level: 3
    parent_id: 40
    id: 4002
    title: "Optimisation des dépenses"
    commentary: "Il a 50% de données manquantes pour ces indicateurs, nous avons fait le choix de ne pas les représenter"
  }
  {
    level: 3
    parent_id: 40
    id: 4003
    title: "Utilisation des moyens médico-techniques"
    commentary: "Activité pour les interventions les plus fréquentes au niveau national"
    filters:
      'bottom-right':
        on: 'date'
        type: 'slider'
        defaultSelected: "01/01/2015"
    chartOptions:
      data:
        query:
          domain: 'technique'
          etablissements: "<%= report.entityName %>"
          # date: '<%= requestersManager.date.date %>'
          comparaison: $in: ["etablissement" , '<%= requestersManager.comparaison %>']
          # packs: "Nbr de Bio par Technicien"
          # label: "CLINIQUE AMBULATOIRE CENDANEG"
        precision:
          value: '.0f'
          evolution: '.2f'
      chartType: "horizontal-barchart"
      value: "value"
      label: "label"
      # variation: "evolution"
      # variationLegend: "Écart<br>année précédente"
      packs: "metric"
      packsName: true
      # units:
      #   value: " "
      #   evolution: " %"
      # sort: "desc"
      # sparklines:
      #   data:
      #     query:
      #       domain: 'Carte_identite_Act'
      #       etablissements: "<%= report.entityName %>"
      #       metric: "Groupes"
      #   joins: ["Label"]
      #   legend: "Évolution<br>sur 4 ans"
      #   value: "value"
      #   date: "date"
      #   Label : "Dates"
      #   unit: "actes"
      #   orderDates: true
      # showAverage: true
  }
  {
    level: 3
    parent_id: 40
    id: 4004
    title: "Organisation Médicale et Obstétrique"
  }
  {
    level: 3
    parent_id: 40
    id: 4005
    title: "Autre indicateurs"
  }
  {
    level: 3
    parent_id: 40
    id: 4006
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "organisation_asset_text"
  }
  {
    level: 3
    parent_id: 50
    id: 5001
    title: "Activité rapportées aux effectifs"
  }
  {
    level: 3
    parent_id: 50
    id: 5002
    title: "Structure des équipes"
  }
  {
    level: 3
    parent_id: 50
    id: 5003
    title: "Autre indicateurs"
  }
  {
    level: 3
    parent_id: 50
    id: 5004
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "rh_asset_text"
  }
  {
    level: 3
    parent_id: 60
    id: 6001
    title: "Capacité à génerer des excédents"
  }
  {
    level: 3
    parent_id: 60
    id: 6002
    title: "Endettement et capacité à rembourser"
  }
  {
    level: 3
    parent_id: 60
    id: 6003
    title: "Immobilisations"
  }
  {
    level: 3
    parent_id: 60
    id: 6004
    title: "Structure financière"
  }
  {
    level: 3
    parent_id: 60
    id: 6005
    title: "Indicateurs de recouvrement/règlement"
  }
  {
    level: 3
    parent_id: 60
    id: 6006
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "finance_asset_text"
  }
]
