settings:
  comparison:
    description: "Sur tous les écrans de comparaison, comparer avec :"
    values: [
      "Région"
      "Catégorie"
      "Typologie"
    ]

glossary:[]

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Carte d'identité"
    id: 10
  }
  {
    level: 1
    title: "Activité"
    id: 20
  }
  {
    level: 1
    title: "Qualité"
    id: 30
  }
  {
    level: 1
    title: "Organisation"
    id: 40
  }
  {
    level: 1
    title: "Ressources Humaines"
    id: 50
  }
  {
    level: 1
    title: "Finances"
    id: 60
  }
  {
    level: 3
    parent_id: 20
    id: 2001
    title: "Evolution<br>part de marché"
    commentary: "Suivi de l'évolution de la part de marché de l'établissement au sein de la zone d'attractivité ou de la region"
    chartOptions:
      data:
        query:
          domain: "part_de_marche"
          etablissements: "<%= report.entityName %>"
          # zones: "zone d'attractivité"
        precision:
          value: '.1f'
        date:
          format: "%Y"
      chartType: "linechart"
      value: "value"
      groups: 'label'
      date: 'date'
      legend: true
      units:
        value: "%"
      filters: 'upper-middle':
        on: 'metric'
        type: 'buttons'
    filters: 'bottom-right':
      on: 'zones'
      type: 'buttons'
      defaultSelected: "zone d'attractivité"
  }
  {
    level: 3
    parent_id: 20
    id: 2002
    title: "Classement"
    commentary: "Classement des part de marché des extablissement dans zone d'attractivité/region"
    chartOptions:
      data:
        query:
          domain: "leaderboard"
        precision:
          value: '.1f'
      chartType: "horizontalBarchart"
      label: "etablissements"
      value: "value"
      sort: 'desc'
      rank: true
      # legend: 'Part de marché'
      filters: 'upper-middle':
        on: 'metric'
        type: 'buttons'
      units:
        value: "%"
      sparklines:
          data:
            query:
              domain: "part_de_marche"
            date:
              selector: "date"
              format: "%Y" # See d3 time formatting for reference
            precision:
              value: '.1f'
          joins: ["etablissements", "metric", "zones"]
          value: "value"
          date: "date"
          # dateFormat: "%B" # Optional display format that will override the one present in data
          legend: "Évo. part de marché"
          units:
            value: "%"
    filters: 'bottom-right':
      on: 'zones'
      type: 'buttons'
      defaultSelected: "zone d'attractivité"
  }
  {
    level: 3
    parent_id: 20
    id: 2003
    title: "Occupation des lits"
    commentary: "Selectionnez dans l'onglet de configuation l'élément de comparaison<br>région, catégorie, typologie"
    filters:
      'bottom-right':
        on: 'date'
        type: 'slider'
    chartOptions:
      comparison: '2ème décile'
      commonScale: true
      target: '8ème décile'
      # 'packs': 'group'
      value: 'value'
      label: 'label'
      meta: [ '' ]
      units:
        value: '%'
        '8ème décile': '%'
        '2ème décile': '%'
      chartType: 'bulletChart'
      data:
        query:
          domain: 'occupation_lits'
          etablissements: "<%= report.entityName %>"
  }
  {
    level: 3
    parent_id: 20
    id: 2004
    title: "Cartographie"
  }
  {
    level: 3
    parent_id: 20
    id: 2005
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "activite_asset_text"
  }
  {
    level: 3
    title: "Indicateurs de Qualité"
    parent_id: 30
    id: 3001

    chartOptions:
      chartType: "score-card"
      value: "value"
      label: "label"
      packs: "packs"
      # packsOrder:
      #   custom: [
      #     "Conformité",
      #     "Cotation",
      #     "Autres"
      #   ]
      data:
        query:
          domain: "qualité"
          etablissements: "<%= report.entityName %>"

    filters: 'bottom-right':
      on: 'date'
      type: 'slider'
  }
  {
    level: 3
    parent_id: 30
    id: 3002
    title: "Présentation Indicateur"
    chartOptions:
      chartType: 'text'
      src: "qualite_asset_text"
  }
]
