# name: 'Établissements de santé en France'
# # entityName: "{{etablissement}}"
# id: 0
# date: "2016"
# background:
#   assetName: "bg-1"
#   overlay: false
# execsumTitle: 'Établissements de santé en France'
#
# dashboards:
#   default: 0
#   search: "Cherchez un établissement:"



name: 'Établissements de santé en France'
entityName: '{{ etablissement }}'
dashboards:
  search: 'Cherchez un établissement:'
id: '{{ index }}'
background:
  'assetName': 'bg-1'
  'overlay': false
date: "2016"
execsumTitle: 'Établissements de santé en France'
