#the name can be whatever you want
name: "Hospiboard's report"
entityName: "{{ my_report_name_column }}"#column of the report data containing the reports names
reportValue : "{{ a_report_value }}"#I assign an id to a column of the report data. I can use this data by using the <%= %> templating syntax.
#do not change this parameter!!
id: "{{ index }}"
#this is a date selector
#it allows the user to a period that can be refered to in the dashboards screens and the front-configuration slides
date:
  id: "date"
  showInHeader: true
  type: "dropdown"
  query:
    domain: 'dates'
  fields: ["dates"]
  completeObjectMode: true
#How to use the date selector?
#To refer to the date selector use this syntax: "<%= requestersManager.id %>"

background:#link between the reports and the background img to display
  assetName: "bg-1"
  overlay: false

# execsumTitle: "<b>Établissements de santé en France</b> <br><b>{{ my_report_name_column }}</b><br> <span class='id_card'> Finess: {{ finess }} - Département: {{ zone }}<br>Champ pmsi: {{ champ_pmsi}} - Catégorie: {{ cat }}<br>Taille MCO: {{ taille_MCO}}<br>Taille M: {{ taille_M}} - Taille C: {{ taille_C}} - Taille O: {{ taille_O}} </span>"#title
execsumTitle: "<b>{{ my_report_name_column }}</b><br> <span class='id_card'> Finess: {{ finess }}<br>Région: {{ zone }}<br>Typologie: {{ taille_MCO}} - {{ taille_M}} - {{ taille_C}} - {{ taille_O}}<br>Catégorie: {{ champ_pmsi}} - {{ cat }}</span>"#title
execsumNote: "* Crafted with <strong> <3 </strong> by the Toucan Team"#footnote
# execsumNote: "Finess: {{ finess }} - Département: {{ zone }}<br>Champ pmsi: {{ champ_pmsi}} - Catégorie: {{ cat }}<br>Taille MCO: {{ taille_MCO}}<br>Taille M: {{ taille_M}} - Taille C: {{ taille_C}} - Taille O: {{ taille_O}}"

#parameters for the reports search bar
search:
  showSearchBar: true
  #If there is more than 1 report which report shall be selected by default?
  #In your reports dataset add a 'default' column containing the value 1 if the row corresponds to the default report you want to display and 0 otherwise.
  default: '{{ my_report_default_column | bool }}'
  #Choose a message to display in the report search bar
  placeholder: 'Sélectionnez votre établissement ou zone géographique'

#dashboards:
  #Choose a message to display in the dashboard search bar
  #search: "Search among dashboards..."
