entityName: "{{ my_dashboard_name_column }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default | bool }}"

categories: [
    name: "Dash 2,3,4 Dashboard dependent data"
    kpis: [
      name: "From dashboard data"
      source: "2016, Toucan Toco"
      type: "value"
      value: "{{ value }}"
    ,
      name: "From other data source"
      source: "2016, Toucan Toco"
      
      type: "value-dynamic"
      
      data: 
        value:
          query:
            domain: "my_dashboards_data"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
            report_period: "<%= requestersManager.my_date_selector %>"
          field: "metric1"
      
      precision: 
        value: ".1f"
      
      value: "value"
    ]
  ,
    name: "Dash 2,3,4 Report dependent data"
    kpis: [
      name: "From other data source"
      source: "2016, Toucan Toco"
      
      type: "value-dynamic"
      
      data: 
        value:
          query:
            domain: "my_reports_data"
            my_report_name_column: "<%= report.entityName %>"
            report_period: "<%= requestersManager.my_date_selector %>"
          field: "metric2"
      
      precision: 
        value: ".1f"
      
      value: "value"
    ]
  ,
    name: "This is specific to dash 2,3 and 4!"
    kpis: [
      name: "From other data source"
      source: "2016, Toucan Toco"
      
      type: "value-dynamic"
      
      data: 
        value:
          query:
            domain: "my_reports_data"
            my_report_name_column: "<%= report.entityName %>"
            report_period: "<%= requestersManager.my_date_selector %>"
          field: "metric2"
      
      precision: 
        value: ".1f"
      
      value: "value"
    ]
]
