features: [ [
  {
    name: ' Finess : '
    value: ' {{ finess }} <br>'
  }
] ]

# default: '{{ my_dashboard_default_column | bool }}'
default: true
entityName: "{{ my_dashboard_name_column }}"
#do not change those parameters!!
id: "{{ index }}"
report: "{{ report_id }}"

categories: [
  {
    name: "Overview"
    kpis:[
      name: "Part de marché<br>Zone d'attractivité"
      type: 'value-dynamic'
      value: "value"
      precision:
          badge: '+.2f'
          value: '.2f'
      unit: "%"
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> pts vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'part_de_marche'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'part_de_marche'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'
      source: "Source PMSI"
    ]
  }
  {
    name: "Activité Globale"
    kpis: [
    #   name: "Part de marché"
    #   type: 'value-dynamic'
    #   value: "my_part_de_marche"
    #   unit: "%"
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> pts vs 2014"
    #   sentiment:
    #     my_part_de_marche:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   precision:
    #       my_part_de_marche: '.1f'
    #       badge: '.2f'
    #   data:
    #     my_part_de_marche:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "part_de_marche_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "part_de_marche_2014"
    #   compute:
    #     badge: '(my_part_de_marche - comparison)'
    #   source: "2015, source PMSI"
    # ,
    #   name: "Part de marché zone d'attractivité"
    #   type: "line"
    #   chartOptions:
    #     value: "value"
    #     date: "date"
    #     data:
    #       query:
    #         domain: 'dashboard_trend'
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #         breakdown: "part_de_marche"
    #       precision:
    #           value: '.1f'
    #     units: value: " %"
    #
    #   source: "2015, source PMSI"
    # ,
    #   type:'separator'
    # ,
      name: "RSA HC"
      source: "Source Hospidiag"
      type: 'value-dynamic'
      value: "value"
      unit: " actes"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'RSA_HC'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'RSA_HC'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'

    ,
      name: "RSA Ambulatoire"
      source: "Source PMSI"
      type: 'value-dynamic'
      value: "value"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'RSA_Amb'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'RSA_Amb'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'

    ,
      name: "Chimio, radio, hémo et autres"
      source: "Source PMSI"
      type: 'value-dynamic'
      value: "value"
      unit: " séances"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'seances'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'seances'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'
    ]
  }
  {
    name: "Activités Fréquentes"
    kpis: [
      name: "Niveau national "
      source: "Source PMSI"
      type: 'value-dynamic'
      value: "value"
      unit: " actes"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'act_freq_nat'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'act_freq_nat'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'

    ,
      name: 'Médecine'
      source: "Source PMSI"
      type: 'value-dynamic'
      value: "value"
      unit: " actes"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'act_freq_med'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'act_freq_med'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'
    ,
      name: 'Chirurgie'
      source: "Source PMSI"
      type: 'value-dynamic'
      value: "value"
      unit: " actes"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'act_freq_chir'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'act_freq_chir'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'
    ]
  }
  {
    name: "Finance"
    kpis: [
    #   name: "Chiffre d'affaire"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "CA_2015"
    #   unit: " k€"
    #   precision:
    #       CA_2015: '0.1f'
    #       badge: '.1f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     CA_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     CA_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "CA_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "CA_2014"
    #   compute:
    #     badge: '(CA_2015 - comparison)'
    # ,
      name: "Chiffre d'affaires"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: $lte: "<%= requestersManager.date.date %>"
            metric: 'CA'
          precision:
              value: ',.1f'
        units: value: " k€"
      source: "Sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    # ,
    #   name: "Résultat Net"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "RN_2015"
    #   unit: " €"
    #   precision:
    #       badge: '.0f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     RN_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     RN_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "RN_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "RN_2014"
    #   compute:
    #     badge: '(RN_2015 - comparison)'
    ,
      name: "Résultat Net"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            metric: 'RN'
          precision:
              value: '.0f'
        units: value: " k€"
      source: "Sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    # ,
    #   name: "Dette"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "Dette_2015"
    #   unit: " €"
    #   precision:
    #       badge: '.0f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     Dette_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     Dette_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "Dette_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "Dette_2014"
    #   compute:
    #     badge: '(Dette_2015 - comparison)'
    ,
      name: "Dette"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            metric: 'dette'
          precision:
              value: '.0f'
        units: value: " k€"
      source: "Sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    ]
  }
  {
    name: "Autres"
    kpis: [
      name: "Lits et places installés"
      source: "Source : SAE"
      type: 'value-dynamic'
      value: "value"
      unit: " lits/places installés"
      precision:
          badge: '+.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'lits_places'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'lits_places'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'

    ,
      name: "ETP des personnels"
      source: "Source : SAE"
      type: 'value-dynamic'
      value: "value"
      unit: " "
      precision:
          badge: '+.2f'
          value: '.2f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs N-1"
      sentiment:
        value:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        value:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date %>"
            metric: 'ETP'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
        comparison:
          query:
            domain: "dashboard_KPIs"
            etablissements: "{{ my_dashboard_name_column }}"
            date: "<%= requestersManager.date.date_N1 %>"
            metric: 'ETP'
          field: "value"
          date:
            # selector: 'date'
            format: '%d-%m-%Y'
      compute:
        badge: '(value - comparison)'
    ]
  }
]
