default: '{{ my_dashboard_default_column | bool }}'
entityName: "{{ my_dashboard_name_column }}"
#do not change those parameters!!
id: "{{ index }}"
report: "{{ report_id }}"

categories: [
  {
    name: "Activité Globale"
    kpis: [
    #   name: "Part de marché"
    #   type: 'value-dynamic'
    #   value: "my_part_de_marche"
    #   unit: "%"
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> pts vs 2014"
    #   sentiment:
    #     my_part_de_marche:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   precision:
    #       my_part_de_marche: '.1f'
    #       badge: '.2f'
    #   data:
    #     my_part_de_marche:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "part_de_marche_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "part_de_marche_2014"
    #   compute:
    #     badge: '(my_part_de_marche - comparison)'
    #   source: "2015, source PMSI"
    # ,
      name: "Part de marché"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'dashboard_trend'
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
            breakdown: "part_de_marche"
          precision:
              value: '.1f'
        units: value: " %"

      source: "2015, source PMSI"
    ,
      type:'separator'
    ,
      name: "RSA HC"
      source: "2015, source Hospidiag"
      type: 'value-dynamic'
      value: "RSA_HC_2015"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs 2014"
      sentiment:
        RSA_HC_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        RSA_HC_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "RSA_HC_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "RSA_HC_2014"
      compute:
        badge: '(RSA_HC_2015 - comparison)'
    ,
      name: "RSA Ambulatoire"
      source: "2015, source PMSI"
      type: 'value-dynamic'
      value: "RSA_Amb_2015"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs 2014"
      sentiment:
        RSA_Amb_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        RSA_Amb_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "RSA_Amb_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "RSA_Amb_2014"
      compute:
        badge: '(RSA_Amb_2015 - comparison)'
    ,
      name: "Chimio, radio, hémo et autres"
      source: "2015, source PMSI"
      type: 'value-dynamic'
      value: "seances_2015"
      unit: " séances"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> séances vs 2014"
      sentiment:
        seances_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        seances_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "seances_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "seances_2014"
      compute:
        badge: '(seances_2015 - comparison)'
    ]
  }
  {
    name: "Activité Fréquente"
    kpis: [
      name: "Activités fréquentes - national "
      source: "2015, source PMSI"
      type: 'value-dynamic'
      value: "act_freq_nat_2015"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs 2014"
      sentiment:
        act_freq_nat_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        act_freq_nat_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_nat_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_nat_2014"
      compute:
        badge: '(act_freq_nat_2015 - comparison)'
    ,
      name: 'Activités établissement fréquentes<br>médecine'
      source: "2015, source PMSI"
      type: 'value-dynamic'
      value: "act_freq_med_2015"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs 2014"
      sentiment:
        act_freq_med_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        act_freq_med_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_med_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_med_2014"
      compute:
        badge: '(act_freq_med_2015 - comparison)'
    ,
      name: 'Activités établissement fréquentes<br>chirurgie'
      source: "2015, source PMSI"
      type: 'value-dynamic'
      value: "act_freq_chir_2015"
      unit: " actes"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> actes vs 2014"
      sentiment:
        act_freq_chir_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        act_freq_chir_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_chir_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "act_freq_chir_2014"
      compute:
        badge: '(act_freq_chir_2015 - comparison)'
    ]
  }
  {
    name: "Finance"
    kpis: [
    #   name: "Chiffre d'affaire"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "CA_2015"
    #   unit: " k€"
    #   precision:
    #       CA_2015: '0.1f'
    #       badge: '.1f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     CA_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     CA_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "CA_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "CA_2014"
    #   compute:
    #     badge: '(CA_2015 - comparison)'
    # ,
      name: "Chiffre d'affaires"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'dashboard_trend'
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
            breakdown: "CA"
          precision:
              value: '.1f'
        units: value: " k€"
      source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    # ,
    #   name: "Résultat Net"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "RN_2015"
    #   unit: " €"
    #   precision:
    #       badge: '.0f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     RN_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     RN_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "RN_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "RN_2014"
    #   compute:
    #     badge: '(RN_2015 - comparison)'
    ,
      name: "Résultat Net"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'dashboard_trend'
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
            breakdown: "RN"
          precision:
              value: '.0f'
        units: value: " €"
      source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    # ,
    #   name: "Dette"
    #   source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
    #   type: 'value-dynamic'
    #   value: "Dette_2015"
    #   unit: " €"
    #   precision:
    #       badge: '.0f'
    #   badge: 'badge'
    #   comment: "<%=\' \' + badge + \' \'%> vs 2014"
    #   sentiment:
    #     Dette_2015:
    #       domain: ['comparison']
    #       range: ['negative','positive']
    #   data:
    #     Dette_2015:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "Dette_2015"
    #     comparison:
    #       query:
    #         domain: "dashboard_KPIs"
    #         data_dashboard_name_column: "{{ my_dashboard_name_column }}"
    #       field: "Dette_2014"
    #   compute:
    #     badge: '(Dette_2015 - comparison)'
    ,
      name: "Dette"
      type: "line"
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'dashboard_trend'
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
            breakdown: "Dette"
          precision:
              value: '.0f'
        units: value: " €"
      source: "2015, sources : Comptes financiers ou liasses fiscales, Retraitements comptables, PMSI, ARBUST, SNIIRAM"
      ]
  }
  {
    name: "Autres"
    kpis: [
      name: "Lits et places installés"
      source: "2015, source : SAE"
      type: 'value-dynamic'
      value: "lits_places_2015"
      unit: " lits/places installés"
      precision:
          badge: '.0f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> vs 2014"
      sentiment:
        lits_places_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        lits_places_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "lits_places_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "lits_places_2014"
      compute:
        badge: '(lits_places_2015 - comparison)'

    ,
      name: "ETP des personnels"
      source: "2015, source : SAE"
      type: 'value-dynamic'
      value: "ETP_2015"
      unit: " "
      precision:
          ETP_2015: '.1f'
          badge: '.2f'
      badge: 'badge'
      comment: "<%=\' \' + badge + \' \'%> vs 2014"
      sentiment:
        ETP_2015:
          domain: ['comparison']
          range: ['negative','positive']
      data:
        ETP_2015:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "ETP_2015"
        comparison:
          query:
            domain: "dashboard_KPIs"
            data_dashboard_name_column: "{{ my_dashboard_name_column }}"
          field: "ETP_2014"
      compute:
        badge: '(ETP_2015 - comparison)'
      ]
  }
]
