settings:[]

glossary:[]

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Piketty visualized"
    id: 10
  }
  {
    level: 3
    id:10001 
    parent_id:10 
    title: "Growth vs return"
    source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

    chartOptions:
      data:
        query:
          domain: "growth-vs-return"
          date: $ne: '2200-12-31'
        precision:
          cx: ",.2f"
          cy: ",.2f"
          r: ",.2f"
      chartType: "bubblechart"
      legend: true
      
      label: "date"
      cx: "r_after_taxes"
      cy: "g"
      r: "r_before_taxes"
      
      units:
        cx: ""
        cy: ""
        r: ""
  }
  {
    level: 3
    parent_id: 10
    id: 10002
    title: "Concentration of wealth"
    source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

    filters:
      'bottom-right':
        type:'buttons'
        on:'type'

    chartOptions:
      data:
        query:
          domain: "concentration-of-wealth"
          value: $ne: null
        date:
          selector: 'date'
          format: '%Y-%m-%d'
        precision:
          value:',.1f'

      chartType: "linechart"
      units:
        value: " %"

      value: "value"
      groups: "zone"
      date: "date"
      legend: true
  }
  {
    level: 3
    parent_id: 10
    id: 10003
    title: 'World Output Distribution'
    source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
    
    filters:
      'bottom-right':
        type:'slider'
        on:'date'
    
    chartOptions:
      filters:
        'upper-middle':
          type:'buttons'
          on:'type_value'
          defaultSelected:'value'
      data:
        query:
          domain:'world-output-distribution'
        
        precision:
          value:[
            precision:',.1f'
            where:
              type_value:'%'
          ,
            precision:',.0f'
            where:
              type_value:'value'
          ]
    
      chartType: "waterfallchart"
      value: 'value'
      label: 'variable'
      groups: 'region'
      type: 'type'
      
      units:
        value:[
          unit:' %'
          where:
            type_value:'%'
        ,
          unit:' $bn'
          where:
            type_value:'value'
        ]
   }
  {
    level: 3
    parent_id:10
    id:10004
    title:'Private capital vs National income'
    source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
    
    chartOptions:
      data:
        query:[
          $match:
            domain:'private-capital-vs-national-income'
        ,
          $sort:
            year:1
        ]
      chartType: "new-heatmap"
      y:'year'
      x:'variable'
      value:'value'
      
      sentiment:
        value:
          domain: [300,450]
          range: ['positive','warning','negative']
  }
  {
    level: 3
    parent_id: 10
    id:10005
    title: "Employment by sector"
    source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

    charts: [
      {
        data:
          query:
            domain: "employment-by-sector"
            sector:'services'
          date:
            selector: 'year'
            format: '%Y-%m-%d'
          precision:
            value:',.1f'

        chartType: "linechart"
        units:
          value: " %"

        value: "value"
        groups: "country"
        date: "year"
        legend: true

        crossfilter:
          on: "year"
          datasets: [1]
        id: 0
      }
      {
        chartType: 'stackedBarchart'
        data:
          query:
            domain:'employment-by-sector'
          precision:
            value:',.1f'
          date:
            selector: 'year'
            format: '%Y-%m-%d'
        
        value:'value'
        label:'country'
        groups:'sector'

        units:
          value: " %"
        
        hideTotal:true
        legend: true
        id: 1
      }
    ]
  }
]
