
'DATA_SOURCE_DIR': 'data_sources'
'MONGO_INDEXES': [
  'domain'
  'version'
  [
    'domain'
    'subdomain'
  ]
  [
    'domain'
    'version'
  ]
  [
    'domain'
    'subdomain'
    'version'
  ]
]
'DASHBOARDS': [
  {
    'report': 'country'
    'query':
      'domain': 'dashboards'
      'default': 1
    'template': 'dashboard'
  }
  {
    'report': 'country'
    'query': 'domain': 'dashboards'
    'template': 'dashboard-brand'
  }
]
'REPORTS': [
  {
    'query':
      'domain': 'dashboards'
      'default': 1
    'template': 'report'
  }

]
'DATA_SOURCES': [
    {
      'sheetname': 'Data'
      'domain': 'dashboards'
      'type': 'excel'
      'file': 'dashboards.xls'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'carto'
      'domain': 'carto'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'decomposition'
      'domain': 'decomposition'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'funnel'
      'domain': 'funnel'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'image'
      'domain': 'image'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'bubble'
      'domain': 'bubble'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1_XSSeDiT1jz1Cm3yPpreBfrwI-JJ8La4469uKxRZpcE'
      'sheetname': 'profile'
      'domain': 'profile'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
      'sheetname': 'top-network'
      'domain': 'top-network'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
      'sheetname': 'average'
      'domain': 'average'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
      'sheetname': 'budget-evolution'
      'domain': 'budget-evolution'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
      'sheetname': 'scorecard'
      'domain': 'scorecard'
      'type': 'google_spreadsheet'
    }
    {
      'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
      'sheetname': 'text'
      'domain': 'text'
      'type': 'google_spreadsheet'
    }

]
