search:
  default: "{{ default_col | bool }}"
  # searchRemoteCall: true
  # showSearchBar: true
  placeholder: "Selectionnez un rapport"
execsumNote: ""
slideInfos: {}
entityName: "{{ report }}"
entityType: "{{ type }}"
entityTechno: "{{ techno }}"
id: "{{ index }}"
background:
  id: 1
  overlay: false
date: "Mai 2017"
execsumTitle: "Brillant Energy"
entityGroup: "{{ techno_zone }}"
