name: "Toucan Toco's report"
entityName: "{{ my_report_name_column }}"#column of the report data containing the reports names

background:
  assetName: "piketty"
  overlay: true

execsumTitle: "Piketty en quelques visualisations"#dynamic title
execsumNote: "* Crafted with <strong><3</strong> by the Toucan Team"#footnote

#do not change this parameter!!
id: "{{ index }}"
