entityName: "{{ zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"


categories: [
  name: "Web"
  kpis: [
    name: "Visits"
    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs Feb 2016\'%>"
    unit: " k visits"
    slide: 10001
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative','positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            zone: "Web global"

        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "Web global"
        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 0
  ,
    name: "New Visitors"
    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs 2015\'%>"
    unit: " k visitors"
    slide: 10001
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative', 'neutral', 'positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            zone: "Visitors global"

        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "Visitors global"

        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 1
  ,
    name: "Bounce Rate"

    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs 2015\'%>"
    unit: " %"
    slide: 10002
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative','positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            zone: "Bounce global"
        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "Bounce global"

        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 2
   ]
,
  name: "Mobile"
  kpis: [
    name: "Downloads"
    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "downloads"
    unit: " M€"
    slide: 20001
    id: 3
  ,
    name: "Returning rate"
    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "returning-rate"
    unit: "%"
    slide: 20001
    id: 4
  ,
    name: "Average Time Spent"
    value: "3"
    unit: " min"
    source: "2015, source Smart Toucan"
    slide: 20001
    id: 5
   ]
,
  name: "Social"
  kpis: [
    name: "Facebook Fans"
    value: "19.3"
    unit: "M Fans"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 15.4M Fans"
    slide: 30002
    source: "2016, source Smart Toucan"
    id: 6
  ,
    name: "Twitter Followers"
    value: "29"
    unit: "M Followers"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 19M Followers"
    slide: 30002
    source: "2016, source Smart Toucan"
    id: 7
  ,
    name: "Youtube Views"
    value: "20"
    unit: "M Views"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 3M Views"
    slide: 30003
    source: "2016, source Smart Toucan"
    id: 8
  ,
    name: "Talking about on Social Medias"
    unit: "M times"
    value: "20"
    badge: "bullet"
    badgeSentiment: "worse"
    comment: "First Competitor: 22M times"
    slide: 30002
    source: "2016, source Smart Toucan"
    # data:
    #     date:
    #         format: ""
    #         selector: "date"
    id: 1
  ,
    type: "separator"
  ,
    name: "Fais Marquants"
    type: "text"
    value: "Grand succès campagne Community Management Parfums"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "+12% de Fans Facebook par rapport à la concurrence"
    source: "2016, source Smart Toucan"
    id: 10

  ]
,
  name: "Search"
  kpis: [
    name: "Score Card"
    type: 'score-card'
    slide: 4002
    chartOptions:
      value: "value"
      variation: "evol"
      label: "label"
      target: "target"
      limit: 6
      sentiment:
        evol:
          domain:[0]
          range:['negative', 'positive']
      reverse: false
      units:
        evol: " %"
        value: [
            unit: ""
            where:
              label: "IMPR"
          ,
            unit: ""
            where:
              label: "CLICS"
          ,
            unit: " %"
            where:
              label: "CTR"
          ,
            unit: ""
            where:
              label: "CONV"
          ,
            unit: "  pts"
            where:
              label: "QUALITY SCORE"
          ,
            unit: "%"
            where:
              label: "Maturists"
          ]
      data:
        query:
          domain: "scorecard"
          type: "web"

  # ,
  #   name: "Impr"
  #   value: "354968"
  #   unit: " impr"
  #   badge: "bullet"
  #   badgeSentiment: "better"
  #   comment: "+2 pts vs last year"
  #   slide: 4003
  #   source: "2015, source Smart Toucan"
  #   id: 22
  # ,
  #   name: "Clics"
  #   value: "56048"
  #   unit: " Clics"
  #   badge: "bullet"
  #   badgeSentiment: "better"
  #   comment: "+1 pts vs last year"
  #   slide: 4003
  #   source: "2015, source Smart Toucan"
  #   id: 23
  # ,
  #   name: "CTR"
  #   value: "15.79"
  #   unit: " %"
  #   badge: "bullet"
  #   badgeSentiment: "worse"
  #   comment: "-1 pts vs last year"
  #   slide: 4003
  #   source: "2015, source Smart Toucan"
  #   id: 24
  # ,
  #   name: "Conv"
  #   value: "931"
  #   unit: " Conv"
  #   badge: "bullet"
  #   badgeSentiment: "better"
  #   comment: "+3 pts vs last year"
  #   slide: 4003
  #   source: "2015, source Smart Toucan"
  #   id: 25
  ]
 ]
