
  DATA_SOURCES: [
    domain: "oestro"
    type: "excel"
    file: "oestro.xls"
    sheetname: null
  ,
    domain: "bachelors"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: 'degrees'
  ,
    domain: "workforce"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: 'workforce'
  ,
    domain: "timeline"
    type: "excel"
    file: "timeline.xlsx"
    sheetname: "Feuil1"
  ,
    sheetname: 'box_office'
    domain: 'box_office'
    type: 'excel'
    file: 'movies.xls'
  ,
    sheetname: 'speaking_characters'
    domain: 'speaking_characters'
    type: 'excel'
    file: 'movies.xls'
  ,
    sheetname: 'disney'
    domain: 'disney'
    type: 'excel'
    file: 'movies.xls'
  ,
    domain: 'reports'
    type: 'csv'
    file: 'reports.csv'
  ,
    domain: 'dashboards'
    type: 'csv'
    file: 'dashboards.csv'
  ,
    domain: "categories-porn"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: "categories-porn"
  ,
    domain: "country-porn"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: "country-porn"
  ,
    domain: "orgasm"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: "orgasm"
  ,
    domain: "carto-pays-nuls"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: "carto-pays-nuls"

  ,
    sheetname: 'salary'
    domain: 'salary'
    type: 'excel'
    file: 'movies.xls'
  ,
    domain: "sport"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: "sport"
    ]


  DATA_PROVIDERS: []

  REPORTS: [
    query:
      domain: "reports"
    template: "report"
  ]

  DASHBOARDS: [
    query:
      domain: "reports"
    report: "report"
    template: "dashboard1"
  ]

  MONGO_INDEXES: [
    "domain"
  ]
