etl_config:
  DATA_SOURCES: [
    domain: "oestro"
    type: "excel"
    file: "oestro.xlsx"
    sheetname: null
  ,
    domain: "bachelors"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: 'degrees'
  ,
    domain: "workforce"
    type: "google_spreadsheet"
    spreadsheet_id: '1CETTP1hzjzn9giumYIBePQe6x-0dlobiOjGUCM7QGeI'
    sheetname: 'workforce'
  ,
    domain: "timeline"
    type: "excel"
    file: "timeline.xlsx"
    sheetname: "Feuil1"
  ,
    sheetname: 'box_office'
    domain: 'box_office'
    type: 'excel'
    file: 'movies.xlsx'
  ,
    sheetname: 'speaking_characters'
    domain: 'speaking_characters'
    type: 'excel'
    file: 'movies.xlsx'
  ,
    domain: 'reports'
    type: 'csv'
    file: 'reports.csv'
  ,
    domain: 'dashboards'
    type: 'csv'
    file: 'dashboards.csv'
  ,
    sheetname: 'salary'
    domain: 'salary'
    type: 'excel'
    file: 'movies.xlsx'
  ]


  DATA_PROVIDERS: []

  REPORTS: [
  #   query:
  #     #which domain contains the report I want the user to choose among?
  #     domain: "sample_reports"
  #   #which report template shall be used for those reports?
  #   #This file.cson shall be located inside template > reports > file.cson
  #   template: "report"
  # ,
    query:
      domain: "reports"
    template: "report"
  ]

  DASHBOARDS: [
  ]

  MONGO_INDEXES: [
    "domain"
  ]
