settings:[]

glossary:[]

#Below are the parameters of the report selector (main home page)
home:
  search:
    #Choose the text you want to display in front of the selection
    text: 'Dashboard of'
    #Text to display as a placeholder before selections are made
    placeholder: 'A Bird Species'
    #additonal information about the reseach that is display below the search bar
    helper: 'Please enter the first 3 letters of your report '

  widget:
    type: "list" # Can also be 'list'

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Report dynamic slides"
    id: 10
  }
  {
    level: 3
    title: "Faits marquants"
    commentary: "Quelques faits marquants de l'histoire des femmes du XXe siècle"
    parent_id: 10
    id: 30207
    chartOptions:
      chartType: "timeline"
      data:
        date:
          selector: "date"
          format: "%Y"
        query:
          domain: "timeline"
      startDate: "date"
      endDate: "date"
      headline: "headline"
      text: "text"
      content: "text"
      mediaType: "media_type"
      mediaSource: "media_source"
      caption: "headline"
      # meta: [
      #   "text"
      # ]
  }
  {
    level: 3
    title: 'Box office 2016'
    parent_id: 10
    source: 'https://proquestionasker.github.io/projects/MovieDialogueInteractive/'
    filters: 'bottom-right':
      on: 'metric'
      type: 'buttons'
    id: 3001
    chartOptions:
      chartType: "stackedBarchart"
      unstackable: true
      hideTotal: true
      value: 'value'
      label: 'movie'
      groups: 'gender'
      data:
        query:
          domain: 'box_office'
      units:
        value: '%'
      legend: true
      selection:
        label: 'movie'
  }
  {
    level: 3
    title: 'Speaking Characters in Hollywood Film and TV'
    parent_id: 10
    commentary: "Based on a sample of 11,306 speaking characters in major studio movies released in 2014 and TV shows released between Sep. 2014 and Aug. 2015"
    source: 'USC Annenberg.,as of Feb. 22, 2016'
    id: 3002
    chartOptions:
      chartType: "stackedBarchart"
      unstackable: true
      hideTotal: true
      value: 'value'
      label: 'media'
      groups: 'gender'
      data:
        query:
          domain: 'speaking_characters'
      units:
        value: '%'
      legend: true
      selection:
        label: 'media'
  }
  {
    level: 3
    parent_id: 10
    commentary: "Women's part of Tech & Science Degrees"
    id: 1000001

    title: "Women's Degrees"

    chartOptions:
      data:
        query: [
          $match:
            domain: "bachelors"
            # Degree: $in: ["Average", "Computer Science"]
            STEM: "OUI"

        ]
        precision:
          value: ".0%"

      groups: "Degree"
      chartType: "linechart"
      value: "value"
      date: "Year"

      legend: true


  }
  {
    level: 3
    title: "Farming...boring?"
    parent_id: 10
    source:'https://en.wikipedia.org/wiki/Women_and_video_games'
    commentary:'Some commonplace are true :) Women love farming whereas men are after sports and shooting'

    chartOptions:
      data:
        query:[
          $match:
            domain: 'oestro_type'
        ,
          $sort:'order':1
        ]
        precision:
          my_value:',.0%'
      chartType: "stackedBarchart"
      groups: "gender"
      hideTotal: true
      # visualSelection: false
      label: "type"
      value: "my_value"
      units:
        my_value: ""

      unstackable: true
      legend: true

    id: 10001
  }
  {
    level: 3
    parent_id: 10
    id: 10002
    title: "Why do you play?"
    source:'https://en.wikipedia.org/wiki/Women_and_video_games'
    commentary:'Women look for completion whereas men are after competition...no kidding!'

    chartOptions:
      data:
        query:
          domain: "oestro_motivation"
        precision:
          my_value:',.0%'
      chartType: "horizontalBarchart"
      groups: "gender"
      label: "motivation"
      value: "my_value"

      units:
        my_value: ""

      legend: true

      sort: "desc"
      meta: [
        "description"
      ]
  }
  {
    level: 3
    parent_id: 10
    id: 10005
    title:'Game on girls!'
    commentary: "Women play more than men, and more and more"
    source:'Source : https://en.wikipedia.org/wiki/Women_and_video_games'
    
    chartOptions:
      data:
        query:
          domain:'oestro_game_evolution'
        precision:
          my_value:',.0f'
    
      chartType: "slopegraph"
      label: "my_label"
      meta: ["my_value"]
      value: "my_value"
      evolution:'evolution'
      date: "period"
      units:
        my_value:" %"

  }
  {
    level: 3
    title: "Drive safe"
    parent_id: 10
    commentary:"Men kill and die more on the road. Fore their own safety shouldn't they be forbiden to drive?"
    source:'Source: http://www.securite-routiere.gouv.fr/medias/les-chiffres-de-la-route/les-hommes-et-les-femmes-sur-la-route'

    chartOptions:
      data:
        query:[
          $match:
            domain: 'oestro_road'
        ]
        precision:
          my_value:',.0%'
      chartType: "stackedBarchart"
      groups: "gender"
      hideTotal: true
      # visualSelection: false
      label: "my_label"
      value: "my_value"
      units:
        my_value: ""

      unstackable: true
      legend: true

    id: 10003
  }
  {
    level: 3
    parent_id: 10
    id: 10004
    title: "Hit the road"
    source:'http://www.telegraph.co.uk/news/uknews/road-and-rail-transport/11605509/Women-are-after-all-better-drivers-than-men.html'
    commentary:"Women drive better (+ 12% on average). Let's say that again: women drive <strong>BETTER</strong>."
    
    chartOptions:
      data:
        query:
          domain: "oestro_road_score"
        precision:
          my_value:',.0%'
      chartType: "horizontalBarchart"
      groups: "gender"
      label: "my_label"
      value: "my_value"

      units:
        my_value: ""

      legend: true

      sort: "desc"
      meta: [
        "description"
      ]
  }
]
