
'glossary':
  'terms': [ {
    'slides': [ 70001 ]
    'term': 'NCAA'
    'meaning': 'The National Collegiate Athletic Association (NCAA) is a non-profit association which regulates athletes of 1,281 institutions, conferences, organizations, and individuals. It also organizes the athletic programs of many colleges and universities in the United States and Canada, and helps more than 450,000 college student-athletes who compete annually in college sports.'
  } ]
  'title': 'Glossary'
'customHTML': '<script src="//load.sumome.com/" data-sumo-site-id="33492059cba654fc28fb91b574e8e7484ba6a685e20d96cf3dcd8cf0ae942382" async="async"></script>'
'home': 'skipToReport': '0'
'slides': [
  {
    'id': 0
    'level': 0
  }
  {
    'title': 'Faits marquants'
    'id': 10
    'level': 1
  }
  {
    'title': 'Femmes & Médias'
    'id': 20
    'level': 1
  }
  {
    'title': 'Femmes & Voitures'
    'id': 40
    'level': 1
  }
  {
    'title': 'Femmes & Tech'
    'id': 50
    'level': 1
  }
  {
    'title': 'Femmes & Sport'
    'id': 70
    'level': 1
  }
  {
    'title': 'Sexualité'
    'id': 60
    'level': 1
  }
  {
    'title': 'Super Women'
    'level': 3
    'parent_id': 10
    'commentary': 'Découvrez les femmes qui ont marqué le monde du XX ème siècle'
    'id': 30207
    'chartOptions':
      'mediaSource': 'media_source'
      'startDate': 'date'
      'endDate': 'date'
      'headline': 'headline'
      'text': 'text'
      'mediaType': 'media_type'
      'content': 'text'
      'caption': 'headline'
      'chartType': 'timeline'
      'data':
        'date':
          'format': '%Y'
          'selector': 'date'
        'query': 'domain': 'timeline'
  }
  {
    'title': 'Box Office 2016'
    'level': 3
    'source': 'https://proquestionasker.github.io/projects/MovieDialogueInteractive/'
    'parent_id': 20
    'filters': 'bottom-right':
      'on': 'metric'
      'type': 'buttons'
    'commentary': 'It\'s a man\'s man\'s man\'s world chantait James Brown ! Ca n\'a pas changé. Voici la représentation des femmes dans les dialogues et les personnages des films du box office 2016'
    'id': 3001
    'chartOptions':
      'selection': 'label': 'movie'
      'data': 'query': 'domain': 'box_office'
      'value': 'value'
      'label': 'movie'
      'groups': 'gender'
      'hideTotal': true
      'units': 'value': '%'
      'chartType': 'stackedBarchart'
      'unstackable': true
      'legend': true
  }
  {
    'title': 'Hollywood ? Not so good'
    'level': 3
    'parent_id': 20
    'source': 'USC Annenberg.,as of Feb. 22, 2016'
    'commentary': 'Entre 2014 et 2015 on remarque que moins d\'un tiers des personnages de films des plus grands studios d\'Hollywood sont féminins... man\'s man\'s world.'
    'id': 3002
    'chartOptions':
      'selection': 'label': 'media'
      'data': 'query': 'domain': 'speaking_characters'
      'value': 'value'
      'label': 'media'
      'groups': 'gender'
      'hideTotal': true
      'units': 'value': '%'
      'chartType': 'stackedBarchart'
      'unstackable': true
      'legend': true
  }
  {
    'title': 'La ferme ou les flingues ?'
    'level': 3
    'parent_id': 20
    'source': 'https://en.wikipedia.org/wiki/Women_and_video_games'
    'commentary': 'Certains stéréotypes sont vrais, les femmes aiment les jeux de ferme alors que les hommes aiment tirer au pistolet'
    'id': 10001
    'chartOptions':
      'unstackable': true
      'value': 'my_value'
      'label': 'type'
      'groups': 'gender'
      'hideTotal': true
      'units': 'my_value': ''
      'chartType': 'stackedBarchart'
      'data':
        'query': [
          { '$match': 'domain': 'oestro_type' }
          { '$sort': 'order': 1 }
        ]
        'precision': 'my_value': ',.0%'
      'legend': true
  }
  {
    'title': 'Pourquoi tu joues ?'
    'level': 3
    'parent_id': 20
    'source': 'https://en.wikipedia.org/wiki/Women_and_video_games'
    'commentary': 'Les femmes cherchent l\'achèvement alors que les hommes cherchent la compétition'
    'id': 10002
    'chartOptions':
      'sort': 'desc'
      'value': 'my_value'
      'label': 'motivation'
      'meta': [ 'description' ]
      'groups': 'gender'
      'units': 'my_value': ''
      'chartType': 'horizontalBarchart'
      'data':
        'query': 'domain': 'oestro_motivation'
        'precision': 'my_value': ',.0%'
      'legend': true
  }
  {
    'title': 'Joueuses ?'
    'level': 3
    'parent_id': 20
    'source': 'Source : https://en.wikipedia.org/wiki/Women_and_video_games'
    'commentary': 'Les femmes jouent plus que les hommes, et de plus en plus'
    'id': 10005
    'chartOptions':
      'evolution': 'evolution'
      'value': 'my_value'
      'label': 'my_label'
      'units': 'my_value': ' %'
      'meta': [ 'my_value' ]
      'date': 'period'
      'chartType': 'slopegraph'
      'data':
        'query': 'domain': 'oestro_game_evolution'
        'precision': 'my_value': ',.0f'
  }
  {
    'title': 'Femme au volant'
    'level': 3
    'parent_id': 40
    'source': 'Source: http://www.securite-routiere.gouv.fr/medias/les-chiffres-de-la-route/les-hommes-et-les-femmes-sur-la-route'
    'commentary': 'Les hommes commettent plus d\'accidents graves et meurrent plus sur la route. Hommes au volant, mort au tournant !'
    'id': 10003
    'chartOptions':
      'unstackable': true
      'value': 'my_value'
      'label': 'my_label'
      'groups': 'gender'
      'hideTotal': true
      'units': 'my_value': ''
      'chartType': 'stackedBarchart'
      'data':
        'query': [ { '$match': 'domain': 'oestro_road' } ]
        'precision': 'my_value': ',.0%'
      'legend': true
  }
  {
    'title': 'Hit the road Jack'
    'level': 3
    'parent_id': 40
    'source': 'http://www.telegraph.co.uk/news/uknews/road-and-rail-transport/11605509/Women-are-after-all-better-drivers-than-men.html'
    'commentary': 'Les femmes conduisent mieux (+ 12% en moyenne). Une nouvelle fois: les femmes conduisent <strong>MIEUX !</strong>.'
    'id': 10004
    'chartOptions':
      'sort': 'desc'
      'value': 'my_value'
      'label': 'my_label'
      'meta': [ 'description' ]
      'groups': 'gender'
      'units': 'my_value': ''
      'chartType': 'horizontalBarchart'
      'data':
        'query': 'domain': 'oestro_road_score'
        'precision': 'my_value': ',.0%'
      'legend': true
  }
  {
    'title': 'Où sont les femmes ?'
    'level': 3
    'parent_id': 50
    'source': 'Digest of education statistics: https://nces.ed.gov/programs/digest/'
    'commentary': 'Le plafond de verre en informatique et sciences de l\'information:<br><small> Depuis 1983 c\'est la seule <a target=\'_blank\' href=\'https://en.wikipedia.org/wiki/Science,_technology,_engineering,_and_mathematics\'>STEM</a> spécialité dans laquelle le quota de femmes est en baisse constante, ce qui explique le peu de femme dans l\'univers tech aujourd\'hui</small>'
    'id': 1000001
    'chartOptions':
      'value': 'value'
      'events': [ {
        'date': '1983'
        'name': 'Where did they go?'
      } ]
      'groups': 'Degree'
      'date': 'Year'
      'chartType': 'linechart'
      'data':
        'query': [ { '$match':
          'domain': 'bachelors'
          'STEM': 'OUI' } ]
        'precision': 'value': '.0%'
      'legend': true
  }
  {
    'title': 'Les femmes Tech sont des leaders'
    'level': 3
    'parent_id': 50
    'source': 'https://women-in-software.silk.co'
    'filters': 'bottom-right':
      'on': 'type'
      'type': 'buttons'
    'commentary': 'L\'équilibre homme/femme en entreprise de Hard et Software est plus bas que la moyenne.<br> Cependant<em>les rôles de leaders en entreprises tech</em> présentent moins d\'inégalités'
    'id': 1000002
    'chartOptions':
      'packs': 'pack'
      'data':
        'query': [ { '$match':
          'domain': 'workforce'
          'is_value': 'yes' } ]
        'precision': 'value': '.0%'
      'average':
        'data':
          'query': [
            { '$match':
              'domain': 'workforce'
              'is_value': 'yes' }
            { '$group':
              '_id': '$type'
              'value': '$avg': '$value' }
            { '$project':
              'type': '$_id'
              'value': '$value' }
          ]
          'precision': 'value': '.0%'
        'joins': [ 'type' ]
        'value': 'value'
      'value': 'value'
      'label': 'companies'
      'chartType': 'leaderboardCenteredAverage'
      'sorter':
        'default': 'companies'
        'values': [
          {
            'sort':
              'by': 'companies'
              'order': 'asc'
            'label': 'Alphabetical'
          }
          {
            'sort':
              'by': 'value'
              'order': 'asc'
            'label': 'Ratio'
          }
        ]
        'legend': 'Sort by'
      'averageText': 'Avg.'
      'packsNames': true
      'legend': false
  }
  {
    'title': 'Les acteurs sont mieux payés'
    'level': 3
    'source': 'Forbes'
    'parent_id': 20
    'filters': 'bottom-right':
      'on': 'year'
      'type': 'slider'
    'commentary': '\'Ca fait souvent mal. Votre salaire est un moyen de quantifier votre valeur. Si les hommes sont beaucoup mieux payés pour faire la même chose, on se sent mal\' - Gwenyth Paltrow (Variety, October 2015)<br>\'Les seuls types de films dans lesquels les femmes sont mieux payés que les hommes, c\'est dans l\'industrie du porno\' - Salma Hayek'
    'id': 3004
    'chartOptions':
      'sort': 'desc'
      'value': 'value'
      'label': 'actor'
      'groups': 'gender'
      'units': 'value': 'M$'
      'chartType': 'horizontal-barchart'
      'data': 'query': 'domain': 'salary'
      'legend': false
  }
  {
    'title': 'Inégalités au lycée'
    'level': 3
    'parent_id': 70
    'source': 'Datasource: https://magic.piktochart.com/output/2101560-mens-vs-womens-sports'
    'recommendation':
      'advert': 'Info'
      'content': 'Scholarships are in $.'
    'commentary': 'Les femmes sont moins représentées en sport, à ce titre elles n\'accèdent qu\'à 46% des bourses d\'études. A l\'exception du Volleyball dans lequel l\'uniforme semble être l\'élément attractif.'
    'id': 70001
    'chartOptions':
      'value': 'value'
      'label': 'gender'
      'filters': 'upper-right':
        'on': 'kpi'
        'type': 'dropdown'
      'units': 'value': [
        {
          'where': 'kpi': '$in': [
            'NCAA scholarships'
            'NCAA scholarships - Volleyball'
          ]
          'unit': ' $'
        }
        {
          'where': 'kpi': '$ne': [
            'NCAA scholarships'
            'NCAA scholarships - Volleyball'
          ]
          'unit': ' '
        }
      ]
      'chartType': 'barchart'
      'data':
        'query':
          'domain': 'sport'
          'type': '$in': [
            'participation'
            'volleyball'
          ]
        'precision': 'value': [
          {
            'where': 'kpi': '$in': [
              'NCAA scholarships'
              'NCAA scholarships - Volleyball'
            ]
            'precision': ',.0f'
          }
          {
            'where': 'kpi': '$ne': [
              'NCAA scholarships'
              'NCAA scholarships - Volleyball'
            ]
            'precision': ',.0f'
          }
        ]
      'legend': true
  }
  {
    'title': 'Comité et gains'
    'level': 3
    'parent_id': 70
    'source': 'Datasource: https://magic.piktochart.com/output/2101560-mens-vs-womens-sports'
    'id': 70004
    'chartOptions':
      'sort': 'desc'
      'packs': 'label'
      'value': 'value'
      'label': 'gender'
      'units': 'value': [
        {
          'where': 'label': 'Minimum US salary'
          'unit': ' $'
        }
        {
          'where': 'label': 'FIFA\'s executive board'
          'unit': ' members'
        }
        {
          'where': 'label': 'Salary, winnings, and sponsorships'
          'unit': ' M$'
        }
      ]
      'chartType': 'score-card'
      'data': 'query':
        'domain': 'sport'
        'type': 'representation'
  }
  {
    'title': 'Princesses Disney ?'
    'level': 3
    'parent_id': 20
    'source': 'IMDB and http://polygraph.cool/films/'
    'commentary': '\'Comment osez-vous ? Vous tous! Debout à décider de mon avenir. Je ne suis pas un prix à gagner\' - Princess Jasmine'
    'id': 3003
    'chartOptions':
      'groupsOrder': [
        'male'
        'female'
      ]
      'value': 'value'
      'label': 'movie'
      'groups': 'gender'
      'units': 'value': '%'
      'chartType': 'horizontalBarchart'
      'data': 'query': 'domain': 'disney'
      'legend': true
  }
  {
    'title': 'Le sex c\'est universel'
    'level': 3
    'parent_id': 60
    'source': 'pornhub.com/insights'
    'filters': 'bottom-right':
      'on': 'Filter1'
      'type': 'buttons'
    'commentary': 'Moyenne d\'âge des visiteurs de sites pornographiques par pays'
    'id': 50002
    'chartOptions':
      'sort': 'desc'
      'packs': 'pack'
      'unstackable': true
      'precision': 'value': [
        {
          'where': 'Filter1': '% of female visitors'
          'precision': ',.0f'
        }
        {
          'where': 'Filter1': 'age'
          'precision': ',.0f'
        }
        {
          'where': 'Filter1': 'Time spent'
          'precision': ',,2f'
        }
      ]
      'value': 'value'
      'label': 'group'
      'source': 'Pornhub/insights'
      'groups': 'label'
      'hideTotal': true
      'units': 'value': [
        {
          'where': 'Filter1': '% of female visitors'
          'unit': '%'
        }
        {
          'where': 'Filter1': 'Age'
          'unit': ' years'
        }
        {
          'where': 'Filter1': 'Time spent'
          'unit': ' min'
        }
      ]
      'chartType': 'horizontalBarchart'
      'data': 'query': 'domain': 'country-porn'
      'legend': true
  }
  {
    'title': 'Record battu'
    'level': 3
    'parent_id': 60
    'source': 'Frederick, D.A., John, H.K.S., Garcia, J.R. et al. Arch Sex Behav (2017)'
    'filters': 'bottom-right':
      'on': 'Filter1'
      'type': 'buttons'
    'commentary': '% d\'hommes / femmes qui rapportent avoir <i>habituellement</i > ou <i>toujours</i > un orgasme pendant leurs rapports sexuels. Contrairement à ce que l\'on pense les femmes sont plus satisfaites que les femmes'
    'id': 50003
    'chartOptions':
      'highlightedKpis': [ {
        'name': ' of women who RARELY / NEVER orgasm during (only) vaginal sex'
        'sentiment': 'value':
          'domain': [ 0 ]
          'range': [
            'negative'
            'positive'
          ]
        'precision': 'value': ',.0f'
        'value': 'value'
        'data': 'value':
          'query': 'domain': 'orgasm'
          'field': 'kpi'
        'unit': '%'
      } ]
      'value': 'value'
      'label': 'group'
      'units': 'value': '%'
      'groups': 'label'
      'labelsOrder': 'custom': [
        'Heterosexuals'
        'Homosexuals'
        'Bisexuals'
      ]
      'chartType': 'barchart'
      'data': 'query': 'domain': 'orgasm'
  }
]
'settings': []
