#les settings peuvent activer certaines options
#nous ne nous en servons pas pour l'instant --> []
settings:[]

#Comment paramétrer un glossaire?
glossary:
  #Nom à afficher pour le glossaire
  title: 'Glossaire'
  #liste des termes à afficher
  terms: [
    #1er terme
    term: "Data"
    #et sa définition
    meaning: "An android from the 24th century who serves on the star ship Enterprise.<br><em>Data kicked some borg ass and then fed his cat lunch.</em>"
    #pas de 'slides' --> cette définition sera affichée dans le glossaire de tous les écrans
  ,
    term: "Hipsterectomy"
    meaning: "The removal or dismissal of what is largely accepted to be cool or trendy. The process of de-hipsterizing someone or something."
    #cet écran ne sera disponible que pour l'écran 10001
    slides:[10001]
  ,
    term: "Graph"
    meaning: "A slang term for a sketching of what someone plans on tagging. graffiti. <br><em>NOT A CHART!</em>"
  ]

slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Horizontal Barchart"
    id: 10
  }
  {
    level: 1
    title: "Linechart"
    id: 20
  }
  {
    level: 1
    title: "Heatmap"
    id: 30
  }
  {
      level: 3#a screen is necessary a level 3 element
      title:'Simple barchart'
      id:1001
      parent_id:10
      chartOptions:
        data:
          query:
            domain: 'time_country'
            title_year:'2016'
            gross:$ne:null
          precision:
            'gross':'.1f'

        chartType: "horizontal-barchart"

        label: 'country'
        value: 'gross'

        units:
          'gross':' m$'
        sort:'desc'
    }
  {
      level: 3#a screen is necessary a level 3 element
      title:'With variation'
      id:1002
      parent_id:10
      chartOptions:
        data:
          query:
            domain: 'time_country'
            title_year:'2016'
            gross:$ne:null
          precision:
            'gross':'.1f'
            'gross_variation':'.1%'
        chartType: "horizontal-barchart"
        label: 'country'
        value: 'gross'
        variation: 'gross_variation'

        sort:'desc'
        units:
          'gross':' m$'
          'gross_variation':''
    }
  {
      level: 3#a screen is necessary a level 3 element
      title:'And average'
      id:1003
      parent_id:10
      chartOptions:
        data:
          query:
            domain: 'time_country'
            title_year:'2016'
            gross:$ne:null
          precision:
            'gross':'.1f'
            'gross_variation':'.1%'

        chartType: "horizontal-barchart"
        label: 'country'
        value: 'gross'
        variation: 'gross_variation'

        sort:'desc'
        units:
          'gross':' m$'
          'gross_variation':''

        average:
          data:
            query:
              domain: 'time_country'
              title_year:'2016'
              gross:$ne:null
            joins: [
                "country"
              ]
            value: "gross"
    }
  {
      level: 3#a screen is necessary a level 3 element
      title:'All in with sparklines'
      id:1004
      parent_id:10
      chartOptions:
        data:
          query:
            domain: 'time_country'
            title_year:'2016'
            gross:$ne:null
          precision:
            'gross':'.1f'
            'gross_variation':'.1%'

        chartType: "horizontal-barchart"
        label: 'country'
        value: 'gross'
        variation: 'gross_variation'

        sort:'desc'
        units:
          'gross':' m$'
          'gross_variation':''

        average:
          data:
            query:
              domain: 'time_country'
              title_year:'2016'
              gross:$ne:null
            joins: [
                "country"
              ]
            value: "gross"

        sparklines:
          data:
            query:
              domain: 'time_country'
          joins: ["country"]
          legend: "Évolution"
          value: "gross"
          date: "title_year"
          unit: ""
          orderDates: true
    }
    {
      level: 3
      title: "Simple linechart"

      parent_id: 20
      chartOptions:
        data:
          query:
            domain: "time_country"
            title_year:$nin:['0','1']
          precision:
            gross:'.1f'

        filters:
          'upper-right':
            on:'country'
            type:'dropdown'

        chartType: "linechart"
        value: "gross"
        date: "title_year"
        units:
          gross: " m$"
        legend: true

      id: 2001
    }
    {
      level: 3
      title: "With sentiment zones"

      parent_id: 20
      chartOptions:
        data:
          query:
            domain: "time_country"
            title_year:$nin:['0','1']
          precision:
            gross:'.1f'

        filters:
          'upper-right':
            on:'country'
            type:'dropdown'

        chartType: "linechart"
        value: "gross"
        date: "title_year"
        units:
          gross: " m$"
        legend: true

        sentimentZones:
           domain: [2, 10]
           label:
             text: 'Massive gross!'
             position: 'top'
           sentiment: 'positive'

      id: 2002
    }
    {
      level: 3
      title: "Showing missing value"

      parent_id: 20
      chartOptions:
        data:
          query:
            domain: "time_country"
            title_year:$nin:['0','1']
          precision:
            gross:'.1f'

        filters:
          'upper-right':
            on:'country'
            type:'dropdown'

        chartType: "linechart"
        value: "gross"
        date: "title_year"
        units:
          gross: " m$"
        legend: true
        showMissingValues:true

      id: 2003
    }
    {
      level: 3
      title:'Simple Heatmap'
      id:30001
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "2016"

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]

          postprocess:[
            melt:
              id:['title_year','movie_title','country']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes','director_name']
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]

        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'
      }
    {
      level: 3
      title:'with sentiment'
      id:30002
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "2016"

          postprocess:[
            melt:
              id:['title_year','movie_title','country']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes','director_name']
          ]

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]


        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'

        sentiment:
          value:[
            sentiment:
              domain:[5,7]
              range:['negative','neutral','positive']
            where:
              variable:'imdb_score'
          ,
            sentiment:
              domain:[1,1.1]
              range:['negative','neutral','positive']
            where:
              variable:'profitability'
          ,
            sentiment:
              domain:[90,180]
              range:['negative','positive','negative']
            where:
              variable:'duration'
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]
      }
    {
      level: 3
      title:'with date requester'
      id:30003
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "<%= requestersManager.date %>"

          postprocess:[
            melt:
              id:['title_year','movie_title','country']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes','director_name']
          ]

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]


        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'

        sentiment:
          value:[
            sentiment:
              domain:[5,7]
              range:['negative','neutral','positive']
            where:
              variable:'imdb_score'
          ,
            sentiment:
              domain:[1,1.1]
              range:['negative','neutral','positive']
            where:
              variable:'profitability'
          ,
            sentiment:
              domain:[90,180]
              range:['negative','positive','negative']
            where:
              variable:'duration'
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]
      }
    {
      level: 3
      title:'with Y Label Width'
      id:30004
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "<%= requestersManager.date %>"

          postprocess:[
            melt:
              id:['title_year','movie_title','country']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes','director_name']
          ]

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]


        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'

        yLabelWidth:150

        sentiment:
          value:[
            sentiment:
              domain:[5,7]
              range:['negative','neutral','positive']
            where:
              variable:'imdb_score'
          ,
            sentiment:
              domain:[1,1.1]
              range:['negative','neutral','positive']
            where:
              variable:'profitability'
          ,
            sentiment:
              domain:[90,180]
              range:['negative','positive','negative']
            where:
              variable:'duration'
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]
      }
    {
      level: 3
      title:'always show values'
      id:30005
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "<%= requestersManager.date %>"

          postprocess:[
            melt:
              id:['title_year','movie_title','country']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes','director_name']
          ]

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]


        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'

        yLabelWidth:150
        alwaysShowValues:true

        sentiment:
          value:[
            sentiment:
              domain:[5,7]
              range:['negative','neutral','positive']
            where:
              variable:'imdb_score'
          ,
            sentiment:
              domain:[1,1.1]
              range:['negative','neutral','positive']
            where:
              variable:'profitability'
          ,
            sentiment:
              domain:[90,180]
              range:['negative','positive','negative']
            where:
              variable:'duration'
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]
      }
    {
      level: 3
      title:'packs'
      id:30006
      parent_id:30

      chartOptions:
        data:
          query:
            domain: "source"
            title_year: "<%= requestersManager.date %>"

          postprocess:[
            melt:
              id:['title_year','movie_title','country','director_name']
              value:['imdb_score','profitability','duration','gross','cast_total_facebook_likes']
          ]

          precision:
            value:[
              precision:'.1f'
              where:
                variable:'imdb_score'
            ,
              precision:'.0%'
              where:
                variable:'profitability'
            ]


        chartType: "new-heatmap"
        y:'movie_title'
        x:'variable'
        value:'value'

        filters:
          'upper-right':
            on:'director_name'
            type:'dropdown'
            reset:'All directors'

        yLabelWidth:200
        alwaysShowValues:true
        ypack:'country'

        sentiment:
          value:[
            sentiment:
              domain:[5,7]
              range:['negative','neutral','positive']
            where:
              variable:'imdb_score'
          ,
            sentiment:
              domain:[1,1.1]
              range:['negative','neutral','positive']
            where:
              variable:'profitability'
          ,
            sentiment:
              domain:[90,180]
              range:['negative','positive','negative']
            where:
              variable:'duration'
          ]

        units:
          value:[
            unit:' m'
            where:
              variable:'duration'
          ,
            unit:' m$'
            where:
              variable:'gross'
          ]
      }
]
