entityName: "{{ zone }}"
id: "{{ index }}"
report: "{{ report_id }}"
default: "{{ default }}"


categories: [
  name: "Web"
  kpis: [
    name: "Visits"
    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs Feb 2016\'%>"
    unit: " k visits"
    slide: 10001
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative','positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            zone: "Web global"

        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "Web global"
        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 0

  ,
    name: "Bounce Rate"

    type: 'value-dynamic'
    value: "value"
    comment: "<%=\' \' + evolution + \' vs 2015\'%>"
    unit: " %"
    slide: 10002
    badge: 'evolution'
    sentiment:
      evolution:
        domain: [0]
        range: ['negative','positive']
    precision:
      value: ',.0f'
      evolution: "+,.0%"
    data:
      value:
        query:[
          $match:
            domain: "average"
            zone: "Bounce global"
        ]
        field: "value"
      comparison:
        query:[
          $match:
            domain: "average"
            zone: "Bounce global"

        ]
        field: "budget"
    compute:
      evolution: '(value - comparison)/comparison'
    # source: "2016, source Smart Toucan"
    id: 2
   ]
,
  name: "Mobile"
  kpis: [
    name: "Downloads"
    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "downloads"
    unit: " M€"
    slide: 20001
    id: 3
  ,
    name: "Returning rate"
    type: "line"
    chartOptions:
      value: "value"
      date: "date"
      data:
        query:
          domain: 'budget-evolution'
          type: "returning-rate"
    unit: "%"
    slide: 20001
    id: 4

   ]
,
  name: "Social"
  kpis: [
    name: "Facebook Fans"
    value: "19.3"
    unit: "M Fans"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 15.4M Fans"
    slide: 30002
    source: "2016, source Smart Toucan"
    id: 6
  ,
    name: "Twitter Followers"
    value: "29"
    unit: "M Followers"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 19M Followers"
    slide: 30002
    source: "2016, source Smart Toucan"
    id: 7
  ,
    name: "Youtube Views"
    value: "20"
    unit: "M Views"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "First Competitor: 3M Views"
    slide: 30003
    source: "2016, source Smart Toucan"
    id: 8
  ,
    name: "Talking about on Social Medias"
    unit: "M times"
    value: "20"
    badge: "bullet"
    badgeSentiment: "worse"
    comment: "First Competitor: 22M times"
    slide: 30002
    source: "2016, source Smart Toucan"
    # data:
    #     date:
    #         format: ""
    #         selector: "date"
    id: 1
  ,
    type: "separator"
  ,
    name: "Fais Marquants"
    type: "text"
    value: "Grand succès campagne Community Management Parfums"
    badge: "bullet"
    badgeSentiment: "better"
    comment: "+12% de Fans Facebook par rapport à la concurrence"
    source: "2016, source Smart Toucan"
    id: 10
  ]
 ]
