DATA_SOURCES: [
    domain: "market-breakdown"
    type: "excel"
    file: "data-market-breakdown.xls"
    sheetname: "Data"
,
    domain: "dashboards"
    type: "excel"
    file: "dashboards.xls"
    sheetname: "Data"
,
    domain: "gsheets"
    type: "google_spreadsheet"
    spreadsheet_id: '1IUnro5OfBv-PzWCl8hZ27FyX-ynoMcFmeid1WnIKmjM'
    sheetname: "test"
,
    domain: "ranks"
    type: "csv"
    file: "test.csv"
    skip_rows: 0
,
    domain: "lines1"
    type: "csv"
    file: "lines_1.csv"
,
    domain: "lines2"
    type: "csv"
    file: "lines_2.csv"
,
    domain: "smic"
    type: "excel"
    sheetname: "Valeurs"
    file: "smic_france.xlsx"
    skip_rows:2
,
    domain: "dette"
    type: "excel"
    sheetname: "Valeurs"
    file: "dette_france.xlsx"
    skip_rows:2
,
    domain: "ipc"
    type: "excel"
    sheetname: "Valeurs"
    file: "ipc_france.xlsx"
    skip_rows:2
,
    domain: "ipi"
    type: "excel"
    sheetname: "Valeurs"
    file: "ipi_france.xlsx"
    skip_rows:2
,
    domain: "tx_chomage"
    type: "excel"
    sheetname: "Valeurs"
    file: "tx_chomage.xlsx"
    skip_rows:2
,
    domain: "cotation"
    type: "excel"
    sheetname: "cotation"
    file: "feminisation.xlsx"
,
    domain: "feminisation"
    type: "excel"
    sheetname: "share feminisation"
    file: "feminisation.xlsx"
,
    domain: "board"
    type: "excel"
    sheetname: "board"
    file: "feminisation.xlsx"
,
    domain: "reuters"
    type: "excel"
    sheetname: "reuters"
    file: "feminisation.xlsx"
,
    domain: "effectif"
    type: "excel"
    sheetname: "effectif"
    file: "feminisation.xlsx"
,
    domain: "funnelchart"
    type: "csv"
    file: "funnelchart.csv"
,
    domain: "data_bourso"
    type: "excel"
    sheetname: "Feuil1"
    file: "data_bourso.xlsx"
,
    domain: "sectors"
    type: "csv"
    file: "sector_items.csv"
,
    domain: "actionnariat"
    type: "csv"
    file: "actionnariat.csv"
,
    domain: "meta"
    type: "excel"
    file: "meta.xlsx"
    sheetname: "meta"
# ,
#     domain: "ga_example"
#     type: "google_analytics"
#     name: "SomeGoogleAnalyticsProvider"
#     report_request: """{
#                   "viewId": "ga:99476610",
#                   "dateRanges": [
#                       {"startDate": "2016-01-01", "endDate": "2016-02-01"}
#                   ],
#                   "metrics": [
#                       {"expression": "ga:pageviews"}
#                   ],
#                   "dimensions": [
#                       {"name": "ga:hostname"}
#                   ]
#               }"""
#    ,
    # domain: 'db_test'
    # type: 'external_database'
    # name: 'Some MySQL provider'
    # table: 'City'
#,
#  domain: "gbq_ventes"
#  type: "google_bigquery"
#  name: "SomeGoogleBigQueryProvider"
#  query: """SELECT * FROM test.ventes LIMIT 10;"""
]
DATA_PROVIDERS: [
]
REPORTS: [
  query:
    domain: "dashboards"
    default: 1.0
  template: "report"
]
DASHBOARDS: [
  query:
    domain: "dashboards"
    default: 1.0
  report: "country"
  template: "dashboard"
,
  query:
    domain: "dashboards"
    default: $ne: 1.0
  report: "country"
  template: "dashboard-company"
]
PERMISSIONS_DATA:
  query:
    domain: "dashboards"
    default: 1.0
MAX_SELECTABLE_REPORTS: 500
MAX_SELECTABLE_DASHBOARDS: 500
MONGO_INDEXES: [
  "domain"
  [
    "domain"
    "report"
  ]
]
