settings: []
glossary:
  title: "Glossaire"
  terms: [
    {
      term: "CAC 40"
      meaning: "Le CAC 40 (cotation assistée en continu) est le principal indice boursier de la Bourse de Paris. Son code ISIN est FR0003500008 et son code mnémonique est PX1."
    }
    {
      term: "Chiffre d'affaires"
      meaning: "La somme des ventes de biens ou de services d'une entreprise sur un exercice comptable. Il peut inclure ou non des achats pour la revente et des sous-traitance selon le mode de comptabilisation retenu."
    }
    {
      term: "Graph"
      meaning: "A slang term for a sketching of what someone plans on tagging. graffiti. <br><em>NOT A CHART!</em>"
    }
  ]
slidePdfEnabled: false
dashboardPdfEnabled: false
sharingOptions: false
comments: false
embedCharts: false
customHTML: "<script type=\"text/javascript\">var s=document.createElement('script');s.setAttribute('data-sumo-site-id','33492059cba654fc28fb91b574e8e7484ba6a685e20d96cf3dcd8cf0ae942382');s.setAttribute('src','//load.sumome.com/');s.setAttribute('async',true);document.head.appendChild(s)</script>"
noDataError:
  message: "<div class=\"error-first-word\">Désolé,</div>aucune donnée n'est disponible. Pour obtenir des données sur cet écran choisissez un autre rapport"
  clues: [
    "report-selector"
    "bottom-filter"
    "settings"
    "menu"
  ]
title: "Test"
dataProviders:
  "google-sheets": {}
home:
  skipToReport: "0"
slides: [
  {
    level: 0
    id: 0
  }
  {
    level: 1
    title: "Performance du CAC40"
    id: 10
  }
  {
    level: 1
    title: "Engagement social"
    id: 30
  }
  {
    level: 1
    title: "Par entreprise"
    id: 40
  }
  {
    level: 3
    title: "Top Entreprises"
    parent_id: 10
    filters:
      "bottom-right":
        on: "metric"
        type: "buttons"
        default: "Chiffre d'affaires"
        order:
          custom: [
            "Chiffre d'affaires"
            "Résultat net"
            "Capitaux propres"
            "Marge opérationnelle"
            "Rentabilité Financière"
          ]
    chartOptions:
      data:
        query: [
          [
            {
              $match:
                domain: "data_bourso"
                metric:
                  $in: [
                    "Chiffre d'affaires"
                    "Résultat net"
                    "Capitaux propres"
                  ]
                year: "2016"
            }
            {
              $project:
                metric: 1
                value:
                  $divide: [
                    "$value"
                    1000000
                  ]
                company: 1
                supersector: 1
            }
          ]
          [
            {
              $match:
                domain: "data_bourso"
                metric:
                  $in: [
                    "Marge opérationnelle"
                    "Rentabilité Financière"
                  ]
                year: "2016"
            }
            {
              $project:
                metric: 1
                value: 1
                company: 1
                supersector: 1
            }
          ]
        ]
        multiple_queries: true
        precision:
          value: ",.1f"
      chartType: "horizontalBarchart"
      label: "company"
      units:
        value: [
          {
            unit: "Md€"
          }
          {
            unit: " "
            where:
              metric: "Marge opérationnelle"
          }
          {
            unit: " "
            where:
              metric: "Rentabilité Financière"
          }
        ]
      value: "value"
      filters:
        "upper-right":
          on: "supersector"
          type: "dropdown"
          reset: "- Tous secteurs"
          withSize: true
      sparklines:
        data:
          query:
            domain: "data_bourso"
            metric:
              $in: [
                "Chiffre d'affaires"
                "Résultat net"
                "Capitaux propres"
                "Marge opérationnelle"
                "Rentabilité Financière"
              ]
            year:
              $ne: "2017"
        joins: [
          "metric"
          "company"
        ]
        legend: "Évolution"
        value: "value"
        date: "year"
        unit: " "
        orderDates: true
      legend:
        type: "identity-card"
        filter: "bottom-right"
      sort: "desc"
      meta: []
    source: "Source : Rapports financiers"
    id: 10002
  }
  {
    level: 3
    title: "Top Secteurs"
    commentary: "Quelle est la part de chaque secteur ou entreprise du CAC40"
    filters:
      "bottom-right":
        on: "year"
        type: "slider"
    parent_id: 10
    chartOptions:
      data:
        query:
          domain: "data_bourso"
          metric:
            $in: [
              "Chiffre d'affaires"
              "Résultat net"
              "Capitaux propres"
              "Rentabilité Financière"
            ]
          year:
            $ne: "2017"
        precision:
          value: ",.0f"
          evolution: "+.0%"
      chartType: "treemap"
      value: "value"
      color: true
      target: "evolution"
      sortByValues: true
      labels: [
        "industry"
        "supersector"
        "company"
      ]
      filters:
        "upper-right":
          on: "metric"
          type: "dropdown"
          default: "Chiffre d'affaires"
          order:
            custom: [
              "Chiffre d'affaires"
              "Résultat net"
              "Capitaux propres"
              "Marge opérationnelle"
              "Rentabilité Financière"
            ]
      sentiment:
        target:
          domain: [
            0
          ]
          range: [
            "negative"
            "positive"
          ]
    source: "Source : Rapports financiers"
    id: 10001
  }
  {
    level: 3
    title: "Ratios Financiers"
    filters:
      "bottom-right":
        on: "year"
        type: "slider"
    parent_id: 10
    chartOptions:
      data:
        query:
          domain: "data_bourso"
          year:
            $ne: "2017"
          category: "Ratios financiers"
          metric:
            $nin: [
              "Effectif en fin d'année"
              "Effectif moyen"
            ]
        precision:
          value: ",.1f"
          evolution: "+.0%"
          target: "+.0%"
      chartType: "heatmap"
      legend: true
      x: "metric"
      xpack: "metric"
      xOrder: [
        "Résultat net part du groupe par action"
        "Résultat net part du groupe dilué par action"
        "Marge opérationnelle"
        "Rentabilité Financière"
        "Ratio d'endettement"
      ]
      y: "company"
      ypack: "supersector"
      value: "value"
      filters:
        "upper-right":
          on: "supersector"
          type: "dropdown"
          reset: "- Tous secteurs"
          withSize: true
      target: "evolution"
      variation: "evolution"
      sentiment:
        evolution:
          domain: [
            0
          ]
          range: [
            "negative"
            "positive"
          ]
      meta: []
      units:
        value: " "
    source: "Source : Rapports financiers"
    id: 10003
  }
  {
    level: 3
    title: "Contexte économique"
    parent_id: 10
    filters:
      "bottom-right":
        on: "breakdown"
        type: "buttons"
    chartOptions:
      data:
        query:
          domain: "economy"
          annee:
            $gte: 2000
        date:
          selector: "date"
          format: "%m/%Y"
      chartType: "linechart"
      units:
        value: " "
      value: "value"
      groups: "breakdown"
      date: "date"
      legend: true
    source: "Source: INSEE"
    id: 10000
  }
  {
    level: 3
    title: "Feminisation"
    commentary: "Dans la légende, cliquez sur women afin d’obtenir un classement de la représentation des femmes pour chaque entreprise"
    parent_id: 30
    chartOptions:
      data:
        query:
          domain: "feminisation"
        melt:
          id: [
            "company"
            "sector"
          ]
          value: [
            "women"
            "men"
          ]
      chartType: "stackedBarchart"
      groups: "variable"
      label: "company"
      hideTotal: true
      value: "value"
      filters:
        "upper-right":
          on: "sector"
          type: "dropdown"
          reset: "- Tous secteurs"
          withSize: true
      units:
        value: " %"
      legend:
        type: "identity-card"
        filter: "bottom-right"
      sort: "desc"
      meta: []
    source: "Source : Rapports financiers"
    id: 30002
  }
  {
    level: 3
    title: "Imposition"
    commentary: "Taxes in 2012"
    filters:
      "bottom-right":
        on: "variable"
        type: "buttons"
    parent_id: 30
    chartOptions:
      data:
        query:
          domain: "feminisation"
          "Montant de l'impot":
            $ne: 0
        melt:
          id: [
            "company"
            "sector"
          ]
          value: [
            "Taux d'imposition"
            "Montant de l'impot"
          ]
      chartType: "horizontalBarchart"
      label: "company"
      value: "value"
      average:
        data:
          query: [
            {
              $match:
                domain: "feminisation"
                "Montant de l'impot":
                  $ne: 0
            }
            {
              $group:
                _id: [
                  "index"
                ]
                "Taux d'imposition":
                  $avg: "$Taux d'imposition"
                "Montant de l'impot":
                  $avg: "$Montant de l'impot"
            }
            {
              $project:
                index: "$_id.index"
                "Taux d'imposition": 1
                "Montant de l'impot": 1
            }
          ]
          melt:
            id: [
              "index"
            ]
            value: [
              "Taux d'imposition"
              "Montant de l'impot"
            ]
        joins: [
          "variable"
        ]
        value: "value"
      averageText: "moyenne CAC40"
      filters:
        "upper-right":
          on: "sector"
          type: "dropdown"
          reset: "- Tous secteurs"
          withSize: true
      units:
        value: [
          {
            unit: "%"
          }
          {
            unit: "M€"
            where:
              variable: "Montant de l'impot"
          }
        ]
      legend:
        type: "identity-card"
        filter: "bottom-right"
      sort: "desc"
      meta: []
    source: "Source : PwC"
    id: 4
  }
  {
    level: 3
    title: "Age du board"
    parent_id: 30
    chartOptions:
      data:
        query: [
          [
            {
              $match:
                domain: "board"
            }
            {
              $group:
                _id: "$company"
                value:
                  $avg: "$age"
            }
            {
              $project:
                company:
                  $literal: "- All companies"
                label: "$_id"
                value: 1
            }
          ]
          [
            {
              $match:
                domain: "board"
            }
            {
              $project:
                company: "$company"
                label: "$name"
                value: "$age"
                position: 1
                since: 1
            }
          ]
        ]
        multiple_queries: true
      chartType: "horizontalBarchart"
      label: "label"
      value: "value"
      filters:
        "upper-right":
          on: "company"
          type: "dropdown"
      average:
        data:
          query: [
            [
              {
                $match:
                  domain: "board"
              }
              {
                $group:
                  _id: [
                    "$index"
                  ]
                  value:
                    $avg: "$age"
              }
              {
                $project:
                  company:
                    $literal: "- All companies"
                  value: 1
              }
            ]
            [
              {
                $match:
                  domain: "board"
              }
              {
                $group:
                  _id: "$company"
                  value:
                    $avg: "$age"
              }
              {
                $project:
                  company: "$_id"
                  value: 1
              }
            ]
          ]
          multiple_queries: true
        joins: [
          "company"
        ]
        value: "value"
      averageText: "moyenne CAC40"
      units:
        value: " "
      legend: true
      sort: "desc"
      meta: [
        "since"
        "position"
      ]
    source: "Source : Reuters, 2016"
    id: 30000
  }
  {
    level: 3
    title: "Ventes vs Salariés en France"
    parent_id: 30
    chartOptions:
      data:
        query:
          domain: "feminisation"
      chartType: "bubblechart"
      legend: true
      label: "company"
      units:
        cx: "%"
        cy: "%"
        r: " salariés"
      filters:
        "upper-right":
          on: "sector"
          type: "dropdown"
          reset: "- Tous secteurs"
      cx: "ventes en France"
      cy: "salariés en France"
      r: "nb en France"
    id: 30003
  }
  {
    level: 3
    title: "Part des salariés en France"
    commentary: "Classement des groupes du CAC 40 en fonction de la part des employés en France."
    parent_id: 30
    chartOptions:
      data:
        query:
          domain: "feminisation"
      chartType: "horizontalBarchart"
      label: "company"
      value: "salariés en France"
      average:
        data:
          query: [
            {
              $match:
                domain: "feminisation"
            }
            {
              $group:
                _id: null
                value:
                  $avg: "$salariés en France"
            }
          ]
        value: "value"
      averageText: "moyenne CAC40"
      units:
        "salariés en France": "%"
      legend: true
      sort: "desc"
    source: "Source : Reuters, 2016"
    id: 300120
  }
  {
    level: 3
    title: "Evolution de la performance"
    parent_id: 40
    filters:
      "bottom-right":
        on: "metric"
        type: "buttons"
    chartOptions:
      data:
        query:
          domain: "data_bourso"
          metric:
            $in: [
              "Chiffre d'affaires"
              "Résultat net"
              "Capitaux propres"
              "Marge opérationnelle"
              "Rentabilité Financière"
            ]
          year:
            $ne: "2017"
        date:
          selector: "date"
          format: "%Y-%m-%d %X"
      chartType: "barchart"
      filters:
        "upper-right":
          on: "company"
          type: "dropdown"
      units:
        value: " "
      value: "value"
      groups: "metric"
      label: "date"
      legend: true
    id: 40001
  }
  {
    level: 3
    title: "Compte de résultat"
    parent_id: 40
    chartOptions:
      chartType: "funnelChart"
      value: "value"
      label: "metric"
      data:
        query:
          domain: "data_bourso"
          metric:
            $in: [
              "Chiffre d'affaires"
              "Produits des activités ordinaires"
              "Résultat opérationnel"
              "Coût de l'endettement financier net"
              "Résultat net"
            ]
          year: "2016"
          category: "Compte de résultat"
        order:
          by: "metric"
          custom: [
            "Chiffre d'affaires"
            "Produits des activités ordinaires"
            "Résultat opérationnel"
            "Coût de l'endettement financier net"
            "Résultat net"
          ]
      units:
        value: " k€"
      filters:
        "upper-right":
          on: "company"
          type: "dropdown"
    highlightedKpis: [
      {
        name: " "
        value: "value"
        unit: " k€"
        comment: "Chiffre d'affaires"
        precision:
          value: ",.0f"
        data:
          value:
            query:
              domain: "data_bourso"
              metric: "Chiffre d'affaires"
              year: "2016"
              category: "Compte de résultat"
            field: "value"
      }
      {
        name: " "
        value: "value"
        unit: " k€"
        comment: "Résultat net"
        precision:
          value: ",.0f"
        data:
          value:
            query:
              domain: "data_bourso"
              metric: "Résultat net"
              year: "2016"
              category: "Compte de résultat"
            field: "value"
      }
    ]
    id: 40002
  }
  {
    level: 3
    title: "Analyse financière"
    source: "Reuters, 2016"
    parent_id: 40
    filters:
      "bottom-right":
        type: "buttons"
        on: "breakdown"
    chartOptions:
      data:
        query:
          domain: "reuters"
          category:
            $ne: "Growth Rates"
          metric:
            $nin: [
              "Net Income/Employee (TTM)"
              "Revenue/Employee (TTM)"
            ]
        postprocess: [
          {
            pivot:
              index: [
                "company"
                "category"
                "metric"
              ]
              column: "level"
              value: "value"
          }
        ]
      chartType: "bulletChart"
      packs: "category"
      meta: [
        ""
      ]
      label: "metric"
      value: "Company"
      target: "sector"
      comparison: "industry"
      colorTargets: true
      filters:
        "upper-right":
          type: "dropdown"
          on: "company"
      units:
        value: " "
      sentiment:
        value:
          domain: [
            "0.95*sector"
            "1.1*sector"
          ]
          range: [
            "negative"
            "warning"
            "positive"
          ]
    id: 40006
  }
  {
    level: 3
    title: "Investisseurs"
    parent_id: 40
    chartOptions:
      data:
        query:
          domain: "actionnariat"
        precision:
          value: ",.1f"
      chartType: "horizontalBarchart"
      label: "actionnaire"
      value: "value"
      filters:
        "upper-right":
          on: "company"
          type: "dropdown"
      units:
        value: " %"
      sort: "desc"
      legend: true
    source: "2016, Rapports financiers"
    id: 40005
  }
]