entityName: "{{ dash }}"
#For a given report if there is more than 1 dashboard which one shall be selected by default?
#In your dashboard dataset add a 'default' column containing the value 1 if the row corresponds to the default dashboard you want to display and 0 otherwise.
# default: "{{ my_dashboard_default_column | bool }}"

categories: [
   name: "Girls wanna have fun!"
  kpis: [
    name: "Top searches by women on Pornhub"
    type: "leaderboard"
    chartOptions:
      value: "value"
      label: "label"
      data:
        query:
          domain: "categories-porn"
        precision: value: ",.0f"
      units:
        value: " "
    source: "pornhub.com/insights"
    slide: 50001
  ,
    type: "media-video"
    provider: 'youtube'
    id: "YEQPpzHsHjk"
  ]
]

#do not change those parameters!!
id: "{{ index }}"
report: "{{ report_id }}"
