
'MONGO_INDEXES': [
  'domain'
  [
    'domain'
    'subdomain'
  ]
]
DASHBOARDS: [
  query:
    domain: "dashboards"
    default: 1.0
  report: "country"
  template: "dashboards"
,
  query:
    domain: "dashboards"
  report: "country"
  template: "dashboards-category"
]
'REPORTS': [
  query:
    domain: "dashboards"
    default: 1.0
  template: "report"
]
'DATA_SOURCES': [
  {
    'sheetname': 'Data'
    'domain': 'dashboards'
    'type': 'excel'
    'file': 'dashboards.xls'
  }
  {
    'sheetname': 'Data'
    'domain': 'market-breakdown'
    'type': 'excel'
    'file': 'data-market-breakdown.xls'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet1'
    'domain': 'CPM'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet2'
    'domain': 'operational'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet3'
    'domain': 'Budget-Evolution'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'top-main'
    'domain': 'top-main'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'top-slave'
    'domain': 'top-slave'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet4'
    'domain': 'Brand-plan'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet5'
    'domain': 'Brand-plan1'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet6'
    'domain': 'spendings'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1zY8MGDB2yoz7GM9vnwC8faBzK05l-Ii_fTGvlcfbBt0'
    'sheetname': 'Sheet7'
    'domain': 'funnel'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'top-network'
    'domain': 'top-network'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'average'
    'domain': 'average'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'budget-evolution'
    'domain': 'budget-evolution'
    'type': 'google_spreadsheet'
  }
  {
    'spreadsheet_id': '1ahKMNCGrRmPuBylM0lKyYzQ5Kcr4JouJ1oUOoudiYTM'
    'sheetname': 'text'
    'domain': 'text'
    'type': 'google_spreadsheet'
  }
]
