entityName: "{{ my_dashboard_name_column }}"
#For a given report if there is more than 1 dashboard which one shall be selected by default?
#In your dashboard dataset add a 'default' column containing the value 1 if the row corresponds to the default dashboard you want to display and 0 otherwise.
default: true

categories: [
    name: "Growth vs return on the long term"
    kpis: [
      type: "line"
      slide:10001
      
      name: "World Return after taxes"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "r_after_taxes"
        date: "date"
        data:
          query:
            domain: 'growth-vs-return'
            date: $ne: '2200-12-31'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            r_after_taxes: ',.1f'
        units:
          r_after_taxes: " %"
    ,
      type: "line"
      slide:10001
      
      name: "World Growth"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "g"
        date: "date"
        data:
          query:
            domain: 'growth-vs-return'
            date: $ne: '2200-12-31'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            g: ',.1f'
        units:
          g: " %"
    ,
      type: "score-card"
      name: "Focus on 2012"
      slide: 10001
      
      chartOptions:
        data:
          query:
            domain: "growth-vs-return"
            date: '2012-12-31'
          postprocess:[
            melt:
              id: ['date']
              value: ['r_before_taxes','r_after_taxes','g']
          ]
          precision:
            value: ',.1f'

        value: "value"
        label:'variable'
        
        limit: 3
        units:
          value: " %"
    ]
  ,
    name: "Concentration of wealth"
    kpis: [
      type: "line"
      slide:10002
      
      name: "Top 1% in France"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'concentration-of-wealth'
            zone:"france"
            type:'top_1'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ,
      type: "line"
      slide:10002
      
      name: "Top 1% in the US"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "date"
        data:
          query:
            domain: 'concentration-of-wealth'
            zone:"us"
            type:'top_1'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ]
  ,
    name: "World output distribution"
    kpis: [
      type: "leaderboard"
      slide:10003
      name: "In 2010"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

      chartOptions:
        value: "value"
        label: "region"
        sort: "desc"
        limit:5
        data:
          query:
            domain: "world-output-distribution"
            type_value:'%'
            type:'parent'
            date: '2010-12-31'
          precision:
            value: ".1f"
        units:
          value: " %"
    ,
      type: "leaderboard"
      slide:10003
      name: "In 2100"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

      chartOptions:
        value: "value"
        label: "region"
        sort: "desc"
        limit:5
        data:
          query:
            domain: "world-output-distribution"
            type_value:'%'
            type:'parent'
            date: '2100-12-31'
          precision:
            value: ".1f"
        units:
          value: " %"
    ]
  ,
    name: "Private capital vs National income"
    kpis: [
      type: 'new-heatmap'
      slide:10004
      name: "Focus 1970 vs 2010"
      source:'Source: API openDataSoft<br>Licence: https://www.quandl.com/about/terms'

      chartOptions:
        data:
          query:[
            $match:
              domain:'private-capital-vs-national-income'
              year: $in: ['1970-12-31','1985-12-31','2010-12-31']
          ,
            $sort:
              year:1
          ]
        
        value: "value"
        x: "variable"
        y: "year"
      
        sentiment:
          value:
            domain: [300,450]
            range: ['positive','warning','negative']
        
    ]
]

#do not change those parameters!!
id: "{{ index }}"
report: "{{ report_id }}"