entityName: "{{ my_dashboard_name_column }}"
#For a given report if there is more than 1 dashboard which one shall be selected by default?
#In your dashboard dataset add a 'default' column containing the value 1 if the row corresponds to the default dashboard you want to display and 0 otherwise.
default: true

categories: [
    name: "Piketty annonce une société de rentier"
    kpis: [
      type:'media-video'
      provider:'youtube'
      id:'D1fKqi6Jh9E'
    ,
      type: "line"
      slide:10001
      
      name: "...caractérisée par de forts rendements..."
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "Rendement après impôts"
        date: "date"
        data:
          query:
            domain: 'growth-vs-return'
            date: $ne: '2200-12-31'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            "Rendement après impôts": ',.1f'
        units:
          "Rendement après impôts": " %"
    ,
      type: "line"
      slide:10001
      
      name: "...et une faible croissance"
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "Croissance"
        date: "date"
        data:
          query:
            domain: 'growth-vs-return'
            date: $ne: '2200-12-31'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            "Croissance": ',.1f'
        units:
          "Croissance": " %"
    ]
  ,
    name: "Ce qui..."
    kpis: [
      type: "line"
      slide:10002
      
      name: "... renforce la part du capital dans le revenu national ..."
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "year"
        data:
          query:
            domain: "labor-vs-capital"
            variable: 'Part du Capital dans le Revenu National'
            value:$ne:null
          date:
            selector: 'year'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ,
      type: "line"
      slide:10002
      
      name: "... et diminue la part du travail"
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "year"
        data:
          query:
            domain: "labor-vs-capital"
            variable: 'Part du Travail dans le Revenu National'
            value:$ne:null
          date:
            selector: 'year'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ]
  ,
    name: "Conséquence 1 : une accélération de l'accumulation de la part du revenu perçu par les plus riches"
    kpis: [
      type: "line"
      slide:10002
      
      name: "... déjà commencé en France..."
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "date"
        source:'Top 1% des revenus les plus élevés'
        data:
          query:
            domain: 'concentration-of-wealth'
            zone:"France"
            type:'Top 1%'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ,
      type: "line"
      slide:10002
      
      name: "...et aux Etats Unis"
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'
      
      chartOptions:
        value: "value"
        date: "date"
        source:'Top 1% des revenus les plus élevés'
        data:
          query:
            domain: 'concentration-of-wealth'
            zone:"Etats Unis"
            type:'Top 1%'
          date:
            selector: 'date'
            format: '%Y-%m-%d'
          precision:
            value: ',.1f'
        units:
          value: " %"
    ]
  ,
    name: "Conséquence 2 : un plus faible rôle de l'Etat?"
    kpis: [
      type: 'new-heatmap'
      slide:10004
      name: "Entre 1970 et 2010 le capital privé représente une part croissance du revenu national"
      source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'

      chartOptions:
        data:
          query:[
            $match:
              domain:'private-capital-vs-national-income'
              variable:$in:['France','Europe','Etats Unis','Japon']
              year: $in: ['1970-12-31','1985-12-31','2010-12-31']
          ,
            $sort:
              year:1
          ]
        
        value: "value"
        x: "variable"
        y: "date_year"
      
        sentiment:
          value:
            domain: [300,450]
            range: ['positive','warning','negative']
    ]
  ,
    name: "Et dans le même temps la part de l'Europe dans le production de richesse mondiale dégringole"
    kpis: [
      type: "leaderboard"
      slide:10003
      name: "PIB régionaux en % du PIB mondial en 2010"
      # source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'

      chartOptions:
        value: "value"
        label: "region"
        sort: "desc"
        limit:5
        data:
          query:
            domain: "world-output-distribution"
            type_value:'%'
            type:'parent'
            date: '2010-12-31'
          precision:
            value: ".1f"
        units:
          value: " %"
    ,
      type: "leaderboard"
      slide:10003
      name: "PIB régionaux en % du PIB mondial en 2100"
      # source:'Source: API openDataSoft /Licence: https://www.quandl.com/about/terms'

      chartOptions:
        value: "value"
        label: "region"
        sort: "desc"
        limit:5
        data:
          query:
            domain: "world-output-distribution"
            type_value:'%'
            type:'parent'
            date: '2100-12-31'
          precision:
            value: ".1f"
        units:
          value: " %"
    ]
]

#do not change those parameters!!
id: "{{ index }}"
report: "{{ report_id }}"
