entityName: "%%{{ dashboards }}%%"
id: "{{index}}"
report: "0"
default: "{{default}}"

categories: [
  name: "%%Effectifs%%"
  kpis: [
    name: "%%Effectif total%%"
    value: "{{effectifs}}"
    unit: "%% salariés%%"
    badge: "evolution_up"
    badgeSentiment:'better'
    comment: "+1% vs 2014"
    slide: 101
    source: "%%2016, source interne%%"
    id: 0
  ,
    name: "%%Absentéisme%%"
    source: "%%2016, source interne%%"
    type: "line"
    slide: 201
    unit: " %"
    chartOptions:
      value: "value"
      date: "date"
      label: "label"
      data:
        query:
          domain: "0_10"

      badge: "bullet"
      badgeSentiment: "better"
      source: "%%source interne%%"

    id: 1
  ,
    type: "media-video"
    provider:'vimeo'
    id: "92918969"
  ]
,
  name: "%%Socio Démo%%"
  kpis: [
    name: "%%Répartition par contrat%%"

    type: "leaderboard"

    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "0_11"
        postprocess:[
          rename:
            values:
              'CDI':
                'fr': 'CDI'
                'en': 'Permanent contract'
                'es': 'CDI'
              'CDD':
                'fr': 'CDD'
                'en': 'Fixed-term contract'
                'es': 'CDD'
              'Autres':
                'fr': 'Autres'
                'en': 'Other'
                'es': 'Otros'
      ]
      units:
        value:" %"
  ,

    name: "%%Répartition par CSP%%"

    slide: 102
    type: "leaderboard"

    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "0_12"
        postprocess:[
          rename:
            values:
              'Employé':
                'fr': 'Employé'
                'en': 'Employees'
                'es': 'Empleado'
              'Ouvrier':
                'fr': 'Ouvrier'
                'en': 'Worker'
                'es': 'Obrero'
              'Cadre':
                'fr': 'Cadre'
                'en': 'Executive manager'
                'es': 'Ejecutivo'
      ]
      units:
        value: " %"
  ,

    name: "%%Répartition par sexe%%"

    type: "leaderboard"

    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "0_13"
        postprocess:[
          rename:
            values:
              'Homme':
                'fr': 'Homme'
                'en': 'Man'
                'es': 'Hombre'
              'Femme':
                'fr': 'Femme'
                'en': 'Woman'
                'es': 'Mujer'
      ]
      units:
        value: " %"
  ,

    name: "%%Temps partiel / temps plein%%"

    type: "leaderboard"

    chartOptions:
      value: "value"
      label: "label"

      data:
        query:
          domain: "0_14"
        postprocess:[
          rename:
            values:
              'Temps plein':
                'fr': 'Temps plein'
                'en': 'Full-time'
                'es': 'Tiempo completo'
              'Temps partiel':
                'fr': 'Temps partiel'
                'en': 'Part-time'
                'es': 'Tiempo parcial'
      ]
      units:
        value: " %"
  ]
]
